/**
 * Theme Name: Thrive Theme
 * Author: 502 - A strategic marketing agency
 * Author URI: http://weare502.com/
 * Version: 0.1
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  font-family: freight-sans-pro, helvetica, sans-serif;
  text-decoration: none;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
a:hover {
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

img {
  max-width: 100%;
  height: auto;
}

.hide-this {
  display: none;
}

/***************************
	Wrappers & Ribbon Colors 
*/
.header-wrapper {
  max-width: 100%;
  margin: 0 auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
  padding-bottom: 1.5rem;
}
@media (min-width: 1023px) {
  .header-wrapper {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
    padding-bottom: 8rem;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .header-wrapper {
    background: url("static/images/ms-edge-header-footer-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@supports (background-blend-mode: multiply) {
  .header-wrapper {
    background: url("static/images/concrete-background.png");
    background-repeat: no-repeat;
    background-color: rgba(57, 57, 57, 0.8);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
  }
}
@supports not (background-blend-mode: multiply) {
  .header-wrapper {
    background: url("static/images/ms-edge-header-footer-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.below-header-wrapper, #home-bg {
  max-width: 82.5rem;
  margin: 0 auto;
  position: relative;
}
@supports (mix-blend-mode: overlay) {
  .below-header-wrapper:before, #home-bg:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("static/images/diamond-cutout-header.png");
    mix-blend-mode: overlay;
  }
}

#home-bg:before {
  background-size: contain;
}

.content-wrapper {
  max-width: 75rem;
  margin: 3rem auto 0;
}
@media (min-width: 768px) {
  .content-wrapper {
    margin: 4rem auto 0;
  }
}

.financial:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: #BDBF42;
}

.nutritional:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: #E4DF56;
}

.physical:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: #3E9686;
}

.emotional:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: #23575D;
}

.wellbeing:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: #58D38C;
}

p, span {
  font-size: 1.125rem;
  font-family: freight-sans-pro, helvetica, sans-serif;
  font-weight: normal;
  color: #191A18;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}

.shadow-text {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
  font-family: industry, helvetica, sans-serif;
  font-weight: bold;
  color: #191A18;
  line-height: 1.2;
  text-transform: uppercase;
}
.h1-heading--w,
.h2-heading--w,
.h3-heading--w,
.h4-heading--w,
.h5-heading--w,
.h6-heading--w,
h1--w, h2--w, h3--w,
h4--w, h5--w, h6--w {
  color: #FFF;
  font-weight: bold;
}

h1, .h1-heading {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
@media (min-width: 480px) {
  h1, .h1-heading {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  h1, .h1-heading {
    font-size: 3.75rem;
    letter-spacing: 10px;
  }
}

h2, .h2-heading {
  font-size: 3rem;
}

h3, .h3-heading {
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  h3, .h3-heading {
    font-size: 2.25rem;
  }
}

h4, .h4-heading {
  font-size: 1.75rem;
}

h5, .h5-heading {
  font-size: 1.5rem;
}

h6, .h6-heading {
  font-size: 1.25rem;
}

label {
  font-size: 1.125rem;
  font-weight: 600;
}

.learn-more {
  color: #3E9686;
  font-size: 1.125rem;
}
.learn-more:hover {
  text-decoration: underline;
}

.learn-more-white {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 600;
}
.learn-more-white:hover {
  text-decoration: underline;
}

.arrow-button-header, .arrow-button {
  display: inline-block;
  background-color: #FFF;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: freight-sans-pro, helvetica, sans-serif;
  text-align: center;
  padding: 0.3rem 4rem 0.3rem 2rem;
  position: relative;
  -webkit-clip-path: polygon(0% 0%, 78% 0%, 86% 50%, 78% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 78% 0%, 86% 50%, 78% 100%, 0% 100%);
  color: #000;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .arrow-button-header, .arrow-button {
    padding: 0.7rem 7rem 0.7rem 4.8rem;
  }
}
.arrow-button-header:hover, .arrow-button:hover {
  background: #3E9686;
  color: #FFF;
  cursor: pointer;
}

.arrow-button {
  text-align: left;
}

.read-story-button {
  display: inline-block;
  background-color: #FFF;
  font-size: 1.125rem;
  font-weight: 600;
  -webkit-clip-path: polygon(0% 0%, 78% 0%, 86% 50%, 78% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 78% 0%, 86% 50%, 78% 100%, 0% 100%);
  padding: 0.7rem 5rem 0.7rem 0.7rem;
}

.box-button, #gform_wrapper_5 .gform_footer input[type=submit], #gform_wrapper_4 .gform_footer input[type=submit], #gform_wrapper_3 .gform_footer input[type=submit], #gform_wrapper_2 .gform_footer input[type=submit] {
  display: inline-block;
  width: 14rem;
  background-color: #3E9686;
  color: #FFF;
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 1.125rem;
  font-weight: bold;
}
.box-button:hover, #gform_wrapper_5 .gform_footer input[type=submit]:hover, #gform_wrapper_4 .gform_footer input[type=submit]:hover, #gform_wrapper_3 .gform_footer input[type=submit]:hover, #gform_wrapper_2 .gform_footer input[type=submit]:hover {
  background-color: #23575D;
}

.slim-button {
  border: 1px solid #191A18;
  padding: 0.4rem 1.5rem;
  color: #191A18;
  font-size: 1.125rem;
}
.slim-button:hover {
  background-color: #191A18;
  color: #FFF;
}

.center-button {
  max-width: 100%;
  margin: 1rem auto 4rem;
  text-align: center;
}
@media (min-width: 768px) {
  .center-button {
    margin: 6rem auto 8rem;
  }
}
.center-button #load-more-posts {
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  border: none;
}
.center-button #load-more-posts:hover {
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.center-button-alt {
  max-width: 100%;
  margin: 1rem auto 3rem;
  text-align: center;
}
@media (min-width: 768px) {
  .center-button-alt {
    margin: 2rem auto;
  }
}
.center-button-alt #load-more-posts {
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  border: none;
}
.center-button-alt #load-more-posts:hover {
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  cursor: pointer;
}

/*
 * All Gravity Forms Styles
*/
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
  line-height: 1.5 !important;
}

.gfs-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5rem;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EEE;
}
@media (min-width: 1023px) {
  .gfs-main-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.gfs-main-container h4 {
  text-align: center;
  margin-bottom: 0;
}
@media (min-width: 1023px) {
  .gfs-main-container h4 {
    padding-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
}
.gfs-main-container #gform_wrapper_1 {
  margin: 0 !important;
}
.gfs-main-container #gform_wrapper_1 ul, .gfs-main-container #gform_wrapper_1 li {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.gfs-main-container #gform_wrapper_1 ul {
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  -webkit-padding-start: 0 !important;
}
.gfs-main-container .gform_heading {
  display: none;
}
.gfs-main-container #gform_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1023px) {
  .gfs-main-container #gform_1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.gfs-main-container #gform_fields_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 75rem;
}
@media (min-width: 1023px) {
  .gfs-main-container #gform_fields_1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}
.gfs-main-container .ginput_container input {
  width: 10rem !important;
  border: 0;
  border-radius: 4px;
}
.gfs-main-container .ginput_container {
  margin-top: 0 !important;
}
.gfs-main-container .gfield_label {
  display: none !important;
}
.gfs-main-container .gform_footer {
  margin-top: 0.3rem !important;
  text-align: center;
}
.gfs-main-container #gform_submit_button_1 {
  padding: 5px 1.6rem !important;
  background: none;
  border: 1px solid #191A18;
  color: #191A18;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  width: 12rem;
}
@media (min-width: 1023px) {
  .gfs-main-container #gform_submit_button_1 {
    width: auto;
  }
}
.gfs-main-container #gform_submit_button_1:hover {
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background-color: #191A18;
  color: #FFF;
  cursor: pointer;
}
@media (min-width: 1023px) {
  .gfs-main-container #input_1_1 {
    width: 15rem !important;
  }
}

@media (max-width: 63.9375em) {
  #field_1_1 div input,
#field_1_3 div input,
#field_1_4 div input,
#field_1_5 div input {
    width: 20rem !important;
  }
}
/*********************************/
#gform_wrapper_2 {
  max-width: 100%;
}
#gform_wrapper_2 #input_2_1,
#gform_wrapper_2 #input_2_2,
#gform_wrapper_2 #input_2_3,
#gform_wrapper_2 #input_2_4 {
  width: 100%;
  border: 1px solid #3E9686;
  background-color: transparent;
  color: #3E9686;
}
#gform_wrapper_2 #input_2_1::-webkit-input-placeholder, #gform_wrapper_2 #input_2_2::-webkit-input-placeholder, #gform_wrapper_2 #input_2_3::-webkit-input-placeholder, #gform_wrapper_2 #input_2_4::-webkit-input-placeholder {
  color: #3E9686;
  opacity: 1 !important;
}
#gform_wrapper_2 #input_2_1::-moz-placeholder, #gform_wrapper_2 #input_2_2::-moz-placeholder, #gform_wrapper_2 #input_2_3::-moz-placeholder, #gform_wrapper_2 #input_2_4::-moz-placeholder {
  color: #3E9686;
  opacity: 1 !important;
}
#gform_wrapper_2 #input_2_1:-ms-input-placeholder, #gform_wrapper_2 #input_2_2:-ms-input-placeholder, #gform_wrapper_2 #input_2_3:-ms-input-placeholder, #gform_wrapper_2 #input_2_4:-ms-input-placeholder {
  color: #3E9686;
  opacity: 1 !important;
}
#gform_wrapper_2 #input_2_1::-ms-input-placeholder, #gform_wrapper_2 #input_2_2::-ms-input-placeholder, #gform_wrapper_2 #input_2_3::-ms-input-placeholder, #gform_wrapper_2 #input_2_4::-ms-input-placeholder {
  color: #3E9686;
  opacity: 1 !important;
}
#gform_wrapper_2 #input_2_1::placeholder,
#gform_wrapper_2 #input_2_2::placeholder,
#gform_wrapper_2 #input_2_3::placeholder,
#gform_wrapper_2 #input_2_4::placeholder {
  color: #3E9686;
  opacity: 1 !important;
}
#gform_wrapper_2 #input_2_4 {
  margin-top: 0.8rem;
  padding: 6px 4px;
}
#gform_wrapper_2 .gform_footer {
  margin-top: 0.7rem;
  margin-bottom: 5.5rem;
  padding-top: 0;
}
#gform_wrapper_2 .gform_footer input[type=submit] {
  border: none;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 10rem;
}
#gform_wrapper_2 .gform_footer input[type=submit]:hover {
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media (min-width: 1023px) {
  #gform_wrapper_2 .gform_footer input[type=submit] {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: 15rem;
  }
}

#gform_wrapper_3 #input_3_1 {
  padding: 6px 4px;
  color: #3E9686;
  background-color: transparent;
  border: 1px solid #3E9686;
}
#gform_wrapper_3 #input_3_1::-webkit-input-placeholder {
  opacity: 1 !important;
}
#gform_wrapper_3 #input_3_1::-moz-placeholder {
  opacity: 1 !important;
}
#gform_wrapper_3 #input_3_1:-ms-input-placeholder {
  opacity: 1 !important;
}
#gform_wrapper_3 #input_3_1::-ms-input-placeholder {
  opacity: 1 !important;
}
#gform_wrapper_3 #input_3_1::placeholder {
  opacity: 1 !important;
}
#gform_wrapper_3 .gform_footer {
  margin-top: 0.7rem;
  margin-bottom: 5.5rem;
  padding-top: 0;
}
#gform_wrapper_3 .gform_footer input[type=submit] {
  border: none;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 10rem;
}
#gform_wrapper_3 .gform_footer input[type=submit]:hover {
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media (min-width: 1023px) {
  #gform_wrapper_3 .gform_footer input[type=submit] {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: 15rem;
  }
}

#gform_wrapper_4 li {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  color: #3E9686;
  font-size: 1rem;
  font-weight: normal;
}
#gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-webkit-input-placeholder {
  opacity: 1 !important;
  font-size: 1rem;
  font-weight: normal;
}
#gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-moz-placeholder {
  opacity: 1 !important;
  font-size: 1rem;
  font-weight: normal;
}
#gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):-ms-input-placeholder {
  opacity: 1 !important;
  font-size: 1rem;
  font-weight: normal;
}
#gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-ms-input-placeholder {
  opacity: 1 !important;
  font-size: 1rem;
  font-weight: normal;
}
#gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::placeholder {
  opacity: 1 !important;
  font-size: 1rem;
  font-weight: normal;
}
#gform_wrapper_4 #field_4_9 .gfield_label,
#gform_wrapper_4 #field_4_12 .gfield_label {
  font-weight: normal;
}
#gform_wrapper_4 #field_4_13 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
#gform_wrapper_4 #field_4_13 ul li {
  margin-top: 3px;
  margin-bottom: 3px;
}
#gform_wrapper_4 #field_4_14 {
  border-top: 1px solid #3E9686;
  margin-bottom: 0;
  padding-bottom: 0;
}
#gform_wrapper_4 #choice_4_14_1 {
  margin-top: -4px;
}
#gform_wrapper_4 .gform_footer {
  margin-top: 0.7rem;
  margin-bottom: 5.5rem;
  padding-top: 0;
}
#gform_wrapper_4 .gform_footer input[type=submit] {
  border: none;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 10rem;
}
#gform_wrapper_4 .gform_footer input[type=submit]:hover {
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media (min-width: 1023px) {
  #gform_wrapper_4 .gform_footer input[type=submit] {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: 15rem;
  }
}

#gform_wrapper_5 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  color: #3E9686;
  font-size: 1rem;
  font-weight: normal;
}
#gform_wrapper_5 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-webkit-input-placeholder {
  opacity: 1 !important;
  font-size: 1rem;
  font-weight: normal;
}
#gform_wrapper_5 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-moz-placeholder {
  opacity: 1 !important;
  font-size: 1rem;
  font-weight: normal;
}
#gform_wrapper_5 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):-ms-input-placeholder {
  opacity: 1 !important;
  font-size: 1rem;
  font-weight: normal;
}
#gform_wrapper_5 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-ms-input-placeholder {
  opacity: 1 !important;
  font-size: 1rem;
  font-weight: normal;
}
#gform_wrapper_5 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::placeholder {
  opacity: 1 !important;
  font-size: 1rem;
  font-weight: normal;
}
#gform_wrapper_5 .gfield_checkbox li > input[type=checkbox] {
  margin-top: 0;
  margin-right: 5px;
}
#gform_wrapper_5 #field_5_6 {
  margin-top: 2.5rem;
}
#gform_wrapper_5 #field_5_9 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
#gform_wrapper_5 .gform_footer {
  margin-top: 0.7rem;
  margin-bottom: 5.5rem;
  padding-top: 0;
}
#gform_wrapper_5 .gform_footer input[type=submit] {
  border: none;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 10rem;
}
#gform_wrapper_5 .gform_footer input[type=submit]:hover {
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media (min-width: 1023px) {
  #gform_wrapper_5 .gform_footer input[type=submit] {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: 15rem;
  }
}

.top-container {
  max-width: 75rem;
  margin: 0 auto;
}

#menu-toggle {
  display: none;
}

@media (min-width: 63.9375em) {
  .top-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .top-container .mini-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top-container .mini-nav ul {
    list-style: none;
    max-width: 45rem;
  }
  .top-container .mini-nav li[id*=menu-item-]:after {
    content: "";
    color: #FFF;
    margin: 0 1rem 0 1.2rem;
    background-color: rgba(255, 255, 255, 0.5);
    width: 1px;
    padding: 0.2rem 0 0.3rem 0.1rem;
  }
  .top-container .mini-nav li[id*=menu-item-]:last-of-type:after {
    display: none;
  }
  .top-container .mini-nav li {
    display: inline-block;
  }
  .top-container .mini-nav a {
    font-size: 1.125rem;
    color: #FFF;
  }
  .top-container .mini-nav a:hover {
    color: #3E9686;
    -webkit-text-decoration-color: #3E9686;
            text-decoration-color: #3E9686;
  }

  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav #menu-item-30, .main-nav #menu-item-31, .main-nav #menu-item-514, .main-nav #menu-item-688 {
    display: none;
  }
  .main-nav #primary-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 55rem;
    max-width: 100%;
  }
  .main-nav ul {
    list-style: none;
  }
  .main-nav ul .current-menu-item > a:after {
    width: 100%;
    left: 0;
    background: #3E9686;
  }
  .main-nav ul a {
    font-family: industry, helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
  }
  .main-nav ul a:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 3px;
    margin-top: 3px;
    right: 0;
    background: #3E9686;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }
  .main-nav ul a:hover:after {
    width: 100%;
    left: 0;
    background: #3E9686;
  }
}
/****************************************************************************/
@media (max-width: 63.9375em) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .main-nav #menu-item-30, .main-nav #menu-item-31, .main-nav #menu-item-480 {
    display: block;
  }

  .mini-nav {
    display: none;
  }

  .move-logo {
    max-width: 100%;
    text-align: center;
    margin-top: 0.5rem;
  }
  .move-logo img {
    width: 7rem;
    height: 5rem;
  }

  .navbar-wrap {
    width: 100%;
    position: relative;
  }

  #menu-toggle {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.5rem;
    margin: 0.5rem 1.8rem 1.5rem 1.8rem;
    padding-bottom: 10px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    /** X tranforms - middle bar splits left and right - then fades out **/
  }
  #menu-toggle:hover {
    cursor: pointer;
  }
  #menu-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 50%;
    background-color: #b6b6b6;
    opacity: 1;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    /** refer to [header.twig] for comments on which "piece" of the bar each span is **/
    /** Spacing for the bars **/
  }
  #menu-toggle span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
  #menu-toggle span:nth-child(odd) {
    left: 0;
    border-radius: 9px 0 0 9px;
  }
  #menu-toggle span:nth-child(1), #menu-toggle span:nth-child(2) {
    top: 0;
  }
  #menu-toggle span:nth-child(3), #menu-toggle span:nth-child(4) {
    top: 11px;
  }
  #menu-toggle span:nth-child(5), #menu-toggle span:nth-child(6) {
    top: 22px;
  }
  #menu-toggle.x-switch span:nth-child(1), #menu-toggle.x-switch span:nth-child(6) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu-toggle.x-switch span:nth-child(2), #menu-toggle.x-switch span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #menu-toggle.x-switch span:nth-child(1) {
    top: 6px;
    left: 3px;
  }
  #menu-toggle.x-switch span:nth-child(2) {
    top: 6px;
    left: calc(50% - 3px);
  }
  #menu-toggle.x-switch span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  #menu-toggle.x-switch span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  #menu-toggle.x-switch span:nth-child(5) {
    top: 20px;
    left: 3px;
  }
  #menu-toggle.x-switch span:nth-child(6) {
    top: 20px;
    left: calc(50% - 3px);
  }

  #primary-menu {
    width: 100%;
    list-style: none;
    display: block;
    position: absolute;
    height: 0;
    max-width: 20rem;
  }
  #primary-menu.menu-open {
    position: initial;
    height: 100%;
  }
  #primary-menu li {
    display: block;
  }
  #primary-menu a {
    font-size: 1.125rem;
    display: block;
    padding: 0.5rem 0;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.header-image-container,
.ms-edge-financial-fallback,
.ms-edge-emotional-fallback,
.ms-edge-physical-fallback,
.ms-edge-nutritional-fallback,
.ms-edge-default-fallback {
  margin-top: -2rem;
  max-width: 100%;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
}
@supports (background-blend-mode: multiply) {
  .header-image-container,
.ms-edge-financial-fallback,
.ms-edge-emotional-fallback,
.ms-edge-physical-fallback,
.ms-edge-nutritional-fallback,
.ms-edge-default-fallback {
    background-blend-mode: multiply;
  }
}
@media (min-width: 1023px) {
  .header-image-container,
.ms-edge-financial-fallback,
.ms-edge-emotional-fallback,
.ms-edge-physical-fallback,
.ms-edge-nutritional-fallback,
.ms-edge-default-fallback {
    margin-top: -6rem;
  }
}
.header-image-container .bg-video,
.ms-edge-financial-fallback .bg-video,
.ms-edge-emotional-fallback .bg-video,
.ms-edge-physical-fallback .bg-video,
.ms-edge-nutritional-fallback .bg-video,
.ms-edge-default-fallback .bg-video {
  max-width: 100%;
}
.header-image-container .app-only,
.ms-edge-financial-fallback .app-only,
.ms-edge-emotional-fallback .app-only,
.ms-edge-physical-fallback .app-only,
.ms-edge-nutritional-fallback .app-only,
.ms-edge-default-fallback .app-only {
  display: none;
}
.header-image-container .container-sizer,
.ms-edge-financial-fallback .container-sizer,
.ms-edge-emotional-fallback .container-sizer,
.ms-edge-physical-fallback .container-sizer,
.ms-edge-nutritional-fallback .container-sizer,
.ms-edge-default-fallback .container-sizer {
  visibility: hidden;
}
.header-image-container__inner,
.ms-edge-financial-fallback__inner,
.ms-edge-emotional-fallback__inner,
.ms-edge-physical-fallback__inner,
.ms-edge-nutritional-fallback__inner,
.ms-edge-default-fallback__inner {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  z-index: 15;
}
.header-image-container__inner h1,
.ms-edge-financial-fallback__inner h1,
.ms-edge-emotional-fallback__inner h1,
.ms-edge-physical-fallback__inner h1,
.ms-edge-nutritional-fallback__inner h1,
.ms-edge-default-fallback__inner h1 {
  margin-bottom: 0;
}
.header-image-container__inner p,
.ms-edge-financial-fallback__inner p,
.ms-edge-emotional-fallback__inner p,
.ms-edge-physical-fallback__inner p,
.ms-edge-nutritional-fallback__inner p,
.ms-edge-default-fallback__inner p {
  margin-top: 0;
  color: #FFF;
  font-weight: 600;
  padding: 0 0.5rem;
}
@media (min-width: 1023px) {
  .header-image-container__inner p,
.ms-edge-financial-fallback__inner p,
.ms-edge-emotional-fallback__inner p,
.ms-edge-physical-fallback__inner p,
.ms-edge-nutritional-fallback__inner p,
.ms-edge-default-fallback__inner p {
    padding: initial;
  }
}
.header-image-container__inner .shadow-text a,
.ms-edge-financial-fallback__inner .shadow-text a,
.ms-edge-emotional-fallback__inner .shadow-text a,
.ms-edge-physical-fallback__inner .shadow-text a,
.ms-edge-nutritional-fallback__inner .shadow-text a,
.ms-edge-default-fallback__inner .shadow-text a {
  color: #FFF;
  border-bottom: 2px solid #FFF;
}
.header-image-container__inner .shadow-text a:hover,
.ms-edge-financial-fallback__inner .shadow-text a:hover,
.ms-edge-emotional-fallback__inner .shadow-text a:hover,
.ms-edge-physical-fallback__inner .shadow-text a:hover,
.ms-edge-nutritional-fallback__inner .shadow-text a:hover,
.ms-edge-default-fallback__inner .shadow-text a:hover {
  color: #191A18;
}
.header-image-container__inner h1, .header-image-container__inner p, .header-image-container__inner a,
.ms-edge-financial-fallback__inner h1,
.ms-edge-financial-fallback__inner p,
.ms-edge-financial-fallback__inner a,
.ms-edge-emotional-fallback__inner h1,
.ms-edge-emotional-fallback__inner p,
.ms-edge-emotional-fallback__inner a,
.ms-edge-physical-fallback__inner h1,
.ms-edge-physical-fallback__inner p,
.ms-edge-physical-fallback__inner a,
.ms-edge-nutritional-fallback__inner h1,
.ms-edge-nutritional-fallback__inner p,
.ms-edge-nutritional-fallback__inner a,
.ms-edge-default-fallback__inner h1,
.ms-edge-default-fallback__inner p,
.ms-edge-default-fallback__inner a {
  max-width: 60rem;
  margin: 0 auto;
}
.header-image-container__inner .arrow-button-header, .header-image-container__inner .arrow-button,
.ms-edge-financial-fallback__inner .arrow-button-header,
.ms-edge-financial-fallback__inner .arrow-button,
.ms-edge-emotional-fallback__inner .arrow-button-header,
.ms-edge-emotional-fallback__inner .arrow-button,
.ms-edge-physical-fallback__inner .arrow-button-header,
.ms-edge-physical-fallback__inner .arrow-button,
.ms-edge-nutritional-fallback__inner .arrow-button-header,
.ms-edge-nutritional-fallback__inner .arrow-button,
.ms-edge-default-fallback__inner .arrow-button-header,
.ms-edge-default-fallback__inner .arrow-button {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .header-image-container__inner .arrow-button-header, .header-image-container__inner .arrow-button,
.ms-edge-financial-fallback__inner .arrow-button-header,
.ms-edge-financial-fallback__inner .arrow-button,
.ms-edge-emotional-fallback__inner .arrow-button-header,
.ms-edge-emotional-fallback__inner .arrow-button,
.ms-edge-physical-fallback__inner .arrow-button-header,
.ms-edge-physical-fallback__inner .arrow-button,
.ms-edge-nutritional-fallback__inner .arrow-button-header,
.ms-edge-nutritional-fallback__inner .arrow-button,
.ms-edge-default-fallback__inner .arrow-button-header,
.ms-edge-default-fallback__inner .arrow-button {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1023px) {
  .header-image-container__inner .arrow-button-header, .header-image-container__inner .arrow-button,
.ms-edge-financial-fallback__inner .arrow-button-header,
.ms-edge-financial-fallback__inner .arrow-button,
.ms-edge-emotional-fallback__inner .arrow-button-header,
.ms-edge-emotional-fallback__inner .arrow-button,
.ms-edge-physical-fallback__inner .arrow-button-header,
.ms-edge-physical-fallback__inner .arrow-button,
.ms-edge-nutritional-fallback__inner .arrow-button-header,
.ms-edge-nutritional-fallback__inner .arrow-button,
.ms-edge-default-fallback__inner .arrow-button-header,
.ms-edge-default-fallback__inner .arrow-button {
    margin-bottom: 0;
  }
}
.header-image-container__inner .move-right,
.ms-edge-financial-fallback__inner .move-right,
.ms-edge-emotional-fallback__inner .move-right,
.ms-edge-physical-fallback__inner .move-right,
.ms-edge-nutritional-fallback__inner .move-right,
.ms-edge-default-fallback__inner .move-right {
  margin-left: 2.2rem;
  margin-top: 0;
}
@media (min-width: 768px) {
  .header-image-container__inner .move-right,
.ms-edge-financial-fallback__inner .move-right,
.ms-edge-emotional-fallback__inner .move-right,
.ms-edge-physical-fallback__inner .move-right,
.ms-edge-nutritional-fallback__inner .move-right,
.ms-edge-default-fallback__inner .move-right {
    margin-top: 3rem;
  }
}
.header-image-container__inner .overlay,
.ms-edge-financial-fallback__inner .overlay,
.ms-edge-emotional-fallback__inner .overlay,
.ms-edge-physical-fallback__inner .overlay,
.ms-edge-nutritional-fallback__inner .overlay,
.ms-edge-default-fallback__inner .overlay {
  max-width: 100%;
}
.header-image-container__inner .close-button,
.ms-edge-financial-fallback__inner .close-button,
.ms-edge-emotional-fallback__inner .close-button,
.ms-edge-physical-fallback__inner .close-button,
.ms-edge-nutritional-fallback__inner .close-button,
.ms-edge-default-fallback__inner .close-button {
  position: absolute;
  top: -10px;
  right: 0;
  width: 3rem;
  z-index: 20;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: none;
}
.header-image-container__inner .close-button:hover,
.ms-edge-financial-fallback__inner .close-button:hover,
.ms-edge-emotional-fallback__inner .close-button:hover,
.ms-edge-physical-fallback__inner .close-button:hover,
.ms-edge-nutritional-fallback__inner .close-button:hover,
.ms-edge-default-fallback__inner .close-button:hover {
  cursor: pointer;
}
.header-image-container__inner .join-button,
.ms-edge-financial-fallback__inner .join-button,
.ms-edge-emotional-fallback__inner .join-button,
.ms-edge-physical-fallback__inner .join-button,
.ms-edge-nutritional-fallback__inner .join-button,
.ms-edge-default-fallback__inner .join-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header-image-container .fade-in,
.ms-edge-financial-fallback .fade-in,
.ms-edge-emotional-fallback .fade-in,
.ms-edge-physical-fallback .fade-in,
.ms-edge-nutritional-fallback .fade-in,
.ms-edge-default-fallback .fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.header-image-container .fade-out,
.ms-edge-financial-fallback .fade-out,
.ms-edge-emotional-fallback .fade-out,
.ms-edge-physical-fallback .fade-out,
.ms-edge-nutritional-fallback .fade-out,
.ms-edge-default-fallback .fade-out {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.6s ease-in;
  -o-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
}

@supports not (background-blend-mode: multiply) {
  .ms-edge-default-fallback {
    background: url("static/images/video-poster.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@supports not (background-blend-mode: multiply) {
  .ms-edge-financial-fallback {
    background: url("static/images/financial-edge-fallback.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
  }
}

@supports not (background-blend-mode: multiply) {
  .ms-edge-physical-fallback {
    background: url("static/images/physical-edge-fallback.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
  }
}

@supports not (background-blend-mode: multiply) {
  .ms-edge-emotional-fallback {
    background: url("static/images/emotional-edge-fallback.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
  }
}

@supports not (background-blend-mode: multiply) {
  .ms-edge-nutritional-fallback {
    background: url("static/images/nutritional-edge-fallback.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
  }
}

.diamond {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -5rem;
  z-index: 20;
  background-image: url("static/images/small-diamond-shape.svg");
  background-position: center;
  background-size: contain;
  padding: 1rem;
  background-repeat: no-repeat;
  text-align: center;
}
@media (min-width: 480px) {
  .diamond {
    bottom: -2.6rem;
  }
}
@media (min-width: 768px) {
  .diamond {
    max-width: 123px;
    padding: 1.5rem;
    bottom: -3.7rem;
  }
}
.diamond img {
  position: relative;
  z-index: 21;
  max-width: 35px;
}
@media (min-width: 768px) {
  .diamond img {
    max-width: 60px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .below-header-wrapper #ie10up {
    display: none !important;
  }
  .below-header-wrapper #ie10up img {
    display: none !important;
  }
}
.footer-wrapper {
  max-width: 100%;
  padding: 0 0.8rem;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .footer-wrapper {
    background: url("static/images/ms-edge-header-footer-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@supports (background-blend-mode: multiply) {
  .footer-wrapper {
    background: url("static/images/concrete-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(57, 57, 57, 0.8);
    background-blend-mode: multiply;
  }
}
@supports not (background-blend-mode: multiply) {
  .footer-wrapper {
    background: url("static/images/ms-edge-header-footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.footer-main-container {
  max-width: 75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-main-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}
.footer-main-container .vertical-bar {
  display: none;
}
@media (min-width: 1023px) {
  .footer-main-container .vertical-bar {
    display: block;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 8rem;
  }
}
.footer-main-container .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 45rem;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 480px) {
  .footer-main-container .link-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.footer-main-container .footer-contact a {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: bold;
}
.footer-main-container .footer-contact .blockify {
  display: block;
  margin-bottom: 0.7rem;
}
.footer-main-container .footer-contact .blockify:first-of-type {
  margin-top: 1.6rem;
}
.footer-main-container .footer-contact span:first-of-type {
  margin-right: 1.3rem;
}
.footer-main-container .footer-link-menu ul {
  list-style-type: none;
  padding-left: 0;
}
.footer-main-container .footer-link-menu li {
  margin-bottom: 10px;
}
.footer-main-container .footer-link-menu li:first-of-type {
  margin-top: 2.5rem;
}
.footer-main-container .footer-link-menu a {
  color: #FFF;
  font-size: 1.125rem;
}
.footer-main-container .footer-link-menu a:hover {
  text-decoration: underline;
}

.not-found {
  max-width: 100%;
  margin: 0 auto 8rem;
}
.not-found__message {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

.main-content {
  max-width: 100%;
  margin: 0 auto;
}
.main-content__intro-text {
  max-width: 50rem;
  margin: 0 auto 4rem;
  padding: 0 1rem;
}
.main-content__intro-text h3 {
  padding-top: 2rem;
  text-align: center;
  margin-bottom: 0;
}
.main-content__posts {
  max-width: 75rem;
  margin: 0 auto 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 768px) {
  .main-content__posts {
    padding: 0;
  }
}
@media (min-width: 1023px) {
  .main-content__posts {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.main-content__posts .show-more-boxes {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.main-content__posts .show-more-boxes.stagger-boxes {
  position: relative;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 1s, opacity 1s ease-out;
  -o-transition: visibility 1s, opacity 1s ease-out;
  transition: visibility 1s, opacity 1s ease-out;
}
.main-content__posts .stagger-boxes {
  padding: 0.5rem;
  max-height: 22.5rem;
  margin-bottom: 1rem;
}
.main-content__posts .stagger-boxes .stagger-inner {
  min-height: 22.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding-top: 1rem;
  position: relative;
}
.main-content__posts .stagger-boxes .stagger-inner:hover {
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  opacity: 0.8;
}
.main-content__posts .stagger-boxes .stagger-inner .read-story-button {
  position: absolute;
  bottom: 1rem;
  left: 0;
}
.main-content__posts .stagger-boxes .stagger-inner .ribbon {
  max-width: 16.2rem;
  position: relative;
}
.main-content__posts .stagger-boxes .stagger-inner .ribbon .inner-content {
  position: relative;
  padding-left: 0.7rem;
}
.main-content__posts .stagger-boxes .stagger-inner .ribbon .inner-content p {
  margin-top: 0;
  padding-top: 0.5rem;
  color: #FFF;
  margin-bottom: 0.1rem;
}
.main-content__posts .stagger-boxes .stagger-inner .ribbon .inner-content h5 {
  margin-top: 0;
  padding-bottom: 0.5rem;
}
.main-content__posts .stagger-boxes:nth-child(6n+1) {
  width: 20rem;
}
@media (min-width: 375px) {
  .main-content__posts .stagger-boxes:nth-child(6n+1) {
    width: 23rem;
  }
}
@media (min-width: 1023px) {
  .main-content__posts .stagger-boxes:nth-child(6n+1) {
    width: 25%;
  }
}
.main-content__posts .stagger-boxes:nth-child(6n+2) {
  width: 20rem;
}
@media (min-width: 375px) {
  .main-content__posts .stagger-boxes:nth-child(6n+2) {
    width: 23rem;
  }
}
@media (min-width: 1023px) {
  .main-content__posts .stagger-boxes:nth-child(6n+2) {
    width: 25%;
  }
}
.main-content__posts .stagger-boxes:nth-child(6n+3) {
  width: 20rem;
}
@media (min-width: 375px) {
  .main-content__posts .stagger-boxes:nth-child(6n+3) {
    width: 23rem;
  }
}
@media (min-width: 1023px) {
  .main-content__posts .stagger-boxes:nth-child(6n+3) {
    width: 50%;
  }
}
.main-content__posts .stagger-boxes:nth-child(6n+4) {
  width: 20rem;
}
@media (min-width: 375px) {
  .main-content__posts .stagger-boxes:nth-child(6n+4) {
    width: 23rem;
  }
}
@media (min-width: 1023px) {
  .main-content__posts .stagger-boxes:nth-child(6n+4) {
    width: calc(100%/3);
  }
}
.main-content__posts .stagger-boxes:nth-child(6n+5) {
  width: 20rem;
}
@media (min-width: 375px) {
  .main-content__posts .stagger-boxes:nth-child(6n+5) {
    width: 23rem;
  }
}
@media (min-width: 1023px) {
  .main-content__posts .stagger-boxes:nth-child(6n+5) {
    width: calc(100%/3);
  }
}
.main-content__posts .stagger-boxes:nth-child(6n+6) {
  width: 20rem;
}
@media (min-width: 375px) {
  .main-content__posts .stagger-boxes:nth-child(6n+6) {
    width: 23rem;
  }
}
@media (min-width: 1023px) {
  .main-content__posts .stagger-boxes:nth-child(6n+6) {
    width: calc(100%/3);
  }
}
.main-content .ambassador-wrapper {
  width: 100vw;
  margin: 4.5rem auto 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0.5rem;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  text-align: center;
}
.main-content .ambassador-wrapper h3 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .main-content .ambassador-wrapper h3 {
    margin-bottom: 5.5rem;
  }
}
.main-content .ambassador-wrapper a {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .main-content .ambassador-wrapper a {
    margin-bottom: 5rem;
  }
}
@media (min-width: 1023px) {
  .main-content .ambassador-wrapper a {
    margin-bottom: 12rem;
  }
}
.main-content .ambassador-wrapper .ambassador-container {
  max-width: 75rem;
  margin: 0 auto 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .main-content .ambassador-wrapper .ambassador-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto 5rem;
  }
}
.main-content .ambassador-wrapper .ambassador-container .ambassador-box {
  position: relative;
  -webkit-box-shadow: 0 15px 15px -8px rgba(0, 0, 0, 0.7);
          box-shadow: 0 15px 15px -8px rgba(0, 0, 0, 0.7);
  margin-bottom: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-content .ambassador-wrapper .ambassador-container .ambassador-box .white-box {
  display: inline-block;
  position: relative;
  margin: 97% auto 0;
  width: 19.1rem;
  text-align: center;
  background-color: #FFF;
  -webkit-clip-path: polygon(0 100%, 0 15%, 50% 0, 101% 15%, 101% 100%);
          clip-path: polygon(0 100%, 0 15%, 50% 0, 101% 15%, 101% 100%);
}
@media (min-width: 768px) {
  .main-content .ambassador-wrapper .ambassador-container .ambassador-box .white-box {
    width: 24rem;
  }
}
.main-content .ambassador-wrapper .ambassador-container .ambassador-box .white-box h4 {
  margin-bottom: 0;
}
.main-content .ambassador-wrapper .ambassador-container .ambassador-box .white-box p {
  margin-top: 0;
}

.alt-header-container .arrow-button-header, .alt-header-container .arrow-button {
  padding: 0.3rem 2.8rem 0.3rem 0.7rem;
}
@media (min-width: 768px) {
  .alt-header-container .arrow-button-header, .alt-header-container .arrow-button {
    padding: 0.7rem 4.8rem 0.7rem 2rem;
  }
}

.alt-styles-financial p:last-of-type {
  margin-top: 1rem;
}
.alt-styles-financial .arrow-button-header, .alt-styles-financial .arrow-button {
  padding: 0.3rem 2.8rem 0.3rem 1rem;
}
@media (min-width: 768px) {
  .alt-styles-financial .arrow-button-header, .alt-styles-financial .arrow-button {
    margin-top: 5rem;
    padding: 0.7rem 4.8rem 0.7rem 2rem;
  }
}
.alt-styles-financial .hide-on-mobile {
  display: none;
}
@media (min-width: 768px) {
  .alt-styles-financial .hide-on-mobile {
    display: block;
  }
}
.alt-styles-financial .hide-on-desktop {
  display: block;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .alt-styles-financial .hide-on-desktop {
    display: none;
  }
}

.alt-default-template .ambassador-lists {
  list-style-type: disc;
}

.intro-match-formatting h5, .intro-match-formatting h6 {
  margin-bottom: 0;
}
.intro-match-formatting a {
  color: #3E9686;
  font-size: 1.125rem;
  text-decoration: underline;
}
.intro-match-formatting ol li, .intro-match-formatting ul li {
  color: #191A18;
  font-family: freight-sans-pro, helvetica, sans-serif;
  font-size: 1.125rem;
}
.intro-match-formatting .p1 iframe, .intro-match-formatting p iframe, .intro-match-formatting iframe {
  width: 285px !important;
  height: 150px !important;
}
@media (min-width: 768px) {
  .intro-match-formatting .p1 iframe, .intro-match-formatting p iframe, .intro-match-formatting iframe {
    width: 500px !important;
    height: 281px !important;
  }
}

.gym-locator-container {
  max-width: 75rem;
  margin: 0 auto 1rem;
}
@media (min-width: 768px) {
  .gym-locator-container {
    margin: 0 auto 10rem;
  }
}
.gym-locator-container h3 {
  text-align: center;
}

.gym-header {
  margin: 4rem auto 1rem;
  padding: 0 2rem;
  max-width: 32rem;
  text-align: center;
}
@media (min-width: 768px) {
  .gym-header {
    margin: 4rem auto 2rem;
    padding: 0;
  }
}

.gym-finder {
  max-width: 100%;
  margin: 0 auto 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 768px) {
  .gym-finder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}
.gym-finder--has-insurance, .gym-finder--no-insurance {
  background-color: #3E9686;
  max-width: 36rem;
  margin: 0 auto;
  padding: 1.5rem 1.5rem 3rem;
  text-align: center;
}
.gym-finder--has-insurance h3, .gym-finder--no-insurance h3 {
  max-width: 26.6rem;
  color: #FFF;
  margin: 0 auto;
}
.gym-finder--has-insurance p, .gym-finder--no-insurance p {
  color: #FFF;
  text-align: left;
  min-height: 6rem;
}
.gym-finder--has-insurance .arrow-button-header, .gym-finder--has-insurance .arrow-button, .gym-finder--no-insurance .arrow-button-header, .gym-finder--no-insurance .arrow-button {
  margin-top: 0;
  margin-left: 2rem;
}
.gym-finder--has-insurance .arrow-button-header:hover, .gym-finder--has-insurance .arrow-button:hover, .gym-finder--no-insurance .arrow-button-header:hover, .gym-finder--no-insurance .arrow-button:hover {
  background-color: #23575D;
}
.gym-finder--has-insurance {
  margin-bottom: 2.5rem;
}
@media (min-width: 1158px) {
  .gym-finder--has-insurance {
    margin-bottom: 0;
  }
}

.provider-container, .provider-container-benefits {
  max-width: 100%;
  margin: 0 auto 1rem;
  padding: 0.5rem;
}
@media (min-width: 1023px) {
  .provider-container, .provider-container-benefits {
    margin: 1rem auto 10rem;
    padding: 0;
  }
}
.provider-container h3, .provider-container-benefits h3 {
  text-align: center;
  margin-bottom: 1.2rem;
}
.provider-container__provider, .provider-container-benefits__provider {
  max-width: 50rem;
  margin: 0 auto;
}
.provider-container__provider .provider-service, .provider-container__provider .last, .provider-container-benefits__provider .provider-service, .provider-container-benefits__provider .last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50rem;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
  border-top: 1px solid #191A18;
  text-align: center;
}
@media (min-width: 768px) {
  .provider-container__provider .provider-service, .provider-container__provider .last, .provider-container-benefits__provider .provider-service, .provider-container-benefits__provider .last {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}
.provider-container__provider .provider-service .img-container, .provider-container__provider .last .img-container, .provider-container-benefits__provider .provider-service .img-container, .provider-container-benefits__provider .last .img-container {
  width: 11.5rem;
}
.provider-container__provider .provider-service .text-container, .provider-container__provider .last .text-container, .provider-container-benefits__provider .provider-service .text-container, .provider-container-benefits__provider .last .text-container {
  width: 12rem;
  font-weight: 600;
}
.provider-container__provider .provider-service .align-left, .provider-container__provider .last .align-left, .provider-container-benefits__provider .provider-service .align-left, .provider-container-benefits__provider .last .align-left {
  width: 9.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .provider-container__provider .provider-service .align-left, .provider-container__provider .last .align-left, .provider-container-benefits__provider .provider-service .align-left, .provider-container-benefits__provider .last .align-left {
    text-align: left;
  }
}
.provider-container__provider .provider-service span:not(.img-container), .provider-container__provider .provider-service img, .provider-container__provider .provider-service a, .provider-container__provider .last span:not(.img-container), .provider-container__provider .last img, .provider-container__provider .last a, .provider-container-benefits__provider .provider-service span:not(.img-container), .provider-container-benefits__provider .provider-service img, .provider-container-benefits__provider .provider-service a, .provider-container-benefits__provider .last span:not(.img-container), .provider-container-benefits__provider .last img, .provider-container-benefits__provider .last a {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .provider-container__provider .provider-service span:not(.img-container), .provider-container__provider .provider-service img, .provider-container__provider .provider-service a, .provider-container__provider .last span:not(.img-container), .provider-container__provider .last img, .provider-container__provider .last a, .provider-container-benefits__provider .provider-service span:not(.img-container), .provider-container-benefits__provider .provider-service img, .provider-container-benefits__provider .provider-service a, .provider-container-benefits__provider .last span:not(.img-container), .provider-container-benefits__provider .last img, .provider-container-benefits__provider .last a {
    margin: 0;
  }
}
.provider-container__provider .last, .provider-container-benefits__provider .last {
  border-bottom: 1px solid #191A18;
}

.no-providers-discounts {
  display: block;
  min-height: 1rem;
  margin-bottom: 6rem;
  padding: 0;
}

.alt-main-contact {
  max-width: 50rem;
  margin: 0 auto 2rem;
  padding: 1rem;
}
@media (min-width: 1023px) {
  .alt-main-contact {
    padding: 0;
    margin: 0 auto 11rem;
  }
}
.alt-main-contact h3 {
  margin-bottom: 0;
}
.alt-main-contact h3:first-of-type {
  margin-top: 0;
}
.alt-main-contact h3:last-of-type {
  margin-bottom: 1.5rem;
}
.alt-main-contact .center-heading {
  text-align: center;
}
@media (min-width: 768px) {
  .alt-main-contact .center-heading {
    text-align: left;
  }
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .contact-info {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.contact-info p {
  font-weight: 600;
}
.contact-info a {
  color: #191A18;
}

.story-wrapper {
  max-width: 50rem;
  margin: 2rem auto 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .story-wrapper {
    margin-bottom: 2rem;
  }
}
.story-wrapper .subheading {
  margin-bottom: 1rem;
}
.story-wrapper h5, .story-wrapper h6 {
  margin-bottom: 0;
}
.story-wrapper a {
  color: #3E9686;
  font-size: 1.125rem;
  text-decoration: underline;
}
.story-wrapper ol li, .story-wrapper ul li {
  color: #191A18;
  font-family: freight-sans-pro, helvetica, sans-serif;
  font-size: 1.125rem;
}
.story-wrapper .p1 iframe, .story-wrapper p iframe, .story-wrapper iframe {
  width: 285px !important;
  height: 150px !important;
}
@media (min-width: 768px) {
  .story-wrapper .p1 iframe, .story-wrapper p iframe, .story-wrapper iframe {
    width: 500px !important;
    height: 281px !important;
  }
}

.mini-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .mini-gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2rem;
  }
}
.mini-gallery img {
  padding: 1.3rem 0.5rem;
}
.mini-gallery img:nth-child(5n+1) {
  width: 20rem;
}
@media (min-width: 768px) {
  .mini-gallery img:nth-child(5n+1) {
    width: 50%;
    height: 16.25rem;
  }
}
.mini-gallery img:nth-child(5n+2) {
  width: 20rem;
}
@media (min-width: 768px) {
  .mini-gallery img:nth-child(5n+2) {
    width: 50%;
    height: 16.25rem;
  }
}
.mini-gallery img:nth-child(5n+3) {
  width: 20rem;
  height: 80%;
}
@media (min-width: 768px) {
  .mini-gallery img:nth-child(5n+3) {
    width: calc(100%/3);
  }
}
.mini-gallery img:nth-child(5n+4) {
  width: 20rem;
  height: 80%;
}
@media (min-width: 768px) {
  .mini-gallery img:nth-child(5n+4) {
    width: calc(100%/3);
  }
}
.mini-gallery img:nth-child(5n+5) {
  width: 20rem;
  height: 80%;
}
@media (min-width: 768px) {
  .mini-gallery img:nth-child(5n+5) {
    width: calc(100%/3);
  }
}

.featured-book {
  margin: 0 auto 2rem;
  max-width: 50rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .featured-book {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.featured-book .featured-image img {
  max-width: 18rem;
}
@media (min-width: 768px) {
  .featured-book .featured-image img {
    margin-right: 1rem;
  }
}
.featured-book .featured-info {
  text-align: center;
  max-width: 29.5rem;
}
@media (min-width: 768px) {
  .featured-book .featured-info {
    text-align: left;
  }
}
.featured-book .featured-info .book-title {
  font-size: 1.25rem;
  font-family: industry, helvetica, sans-serif;
  color: #000;
  font-weight: bold;
  text-decoration: underline;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.featured-book .featured-info .book-title:hover {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: #3E9686;
}
.featured-book .featured-info h6 {
  font-family: freight-sans-pro, helvetica, sans-serif;
  text-transform: none;
  font-weight: 600;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.related-stories {
  background-color: #FFF;
  position: relative;
  margin-bottom: 0;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}
@media (min-width: 1023px) {
  .related-stories {
    margin-bottom: 9rem;
  }
}
.related-stories h4 {
  margin: 0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}
.related-stories .stagger-boxes:nth-child(3n+1) {
  width: 20rem;
}
@media (min-width: 768px) {
  .related-stories .stagger-boxes:nth-child(3n+1) {
    width: calc(100%/3);
  }
}
.related-stories .stagger-boxes:nth-child(3n+2) {
  width: 20rem;
}
@media (min-width: 768px) {
  .related-stories .stagger-boxes:nth-child(3n+2) {
    width: calc(100%/3);
  }
}
.related-stories .stagger-boxes:nth-child(3n+3) {
  width: 20rem;
}
@media (min-width: 768px) {
  .related-stories .stagger-boxes:nth-child(3n+3) {
    width: calc(100%/3);
  }
}
.related-stories .center-button {
  max-width: 100%;
  margin: 0 auto;
}
.related-stories .box-button, .related-stories #gform_wrapper_2 .gform_footer input[type=submit], #gform_wrapper_2 .gform_footer .related-stories input[type=submit], .related-stories #gform_wrapper_3 .gform_footer input[type=submit], #gform_wrapper_3 .gform_footer .related-stories input[type=submit], .related-stories #gform_wrapper_4 .gform_footer input[type=submit], #gform_wrapper_4 .gform_footer .related-stories input[type=submit], .related-stories #gform_wrapper_5 .gform_footer input[type=submit], #gform_wrapper_5 .gform_footer .related-stories input[type=submit] {
  margin-bottom: 2.5rem;
}

.archive-title {
  text-align: center;
  border-bottom: 1px solid #000;
  margin-bottom: 2rem;
}
.archive-title h1 {
  margin-bottom: 0;
}

.hide-filter-desktop {
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .hide-filter-desktop {
    display: none;
  }
}

.filter-head {
  display: block;
  max-width: 17rem;
  margin: 0 auto 3rem;
}
@media (min-width: 480px) {
  .filter-head {
    max-width: 52rem;
  }
}
@media (min-width: 768px) {
  .filter-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.filter-head .switch-category-all,
.filter-head .switch-category-financial,
.filter-head .switch-category-physical,
.filter-head .switch-category-emotional,
.filter-head .switch-category-nutritional,
.filter-head .switch-category-wellbeing {
  width: 8rem;
  outline: none;
  margin: 0;
  border: none;
  background: transparent;
}
.filter-head .switch-category-all:hover,
.filter-head .switch-category-financial:hover,
.filter-head .switch-category-physical:hover,
.filter-head .switch-category-emotional:hover,
.filter-head .switch-category-nutritional:hover,
.filter-head .switch-category-wellbeing:hover {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #3E9686;
}
.filter-head .selected-category {
  border: 1px solid #3E9686;
}
.filter-head .hide-filter-mobile {
  display: none;
}
@media (min-width: 768px) {
  .filter-head .hide-filter-mobile {
    display: initial;
  }
}

#wpsl-wrap {
  padding: 0.4rem;
}

.wpsl-search {
  margin-bottom: 0;
  padding: 0;
}

#wpsl-search-wrap {
  max-width: 75rem;
  margin: 0 auto;
  background-color: #EEE;
}
#wpsl-search-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 768px) {
  #wpsl-search-wrap form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
#wpsl-search-wrap form div {
  margin-right: 0;
}

.wpsl-input {
  margin-bottom: 0;
}

#wpsl-search-wrap div:not(#wpsl-results) label {
  width: 8rem;
  margin-top: 0.2rem;
}

#wpsl-search-wrap div#wpsl-results label {
  width: 5rem !important;
  margin-top: 0.2rem;
}

#wpsl-search-btn, #wpsl-search-wrap input[type=submit] {
  border: 1px solid #191A18;
  border-radius: 0;
  background-color: #EEE;
  background-image: none;
  color: #191A18;
  padding: 0.4rem 1.6rem;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
#wpsl-search-btn:hover, #wpsl-search-wrap input[type=submit]:hover {
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background-color: #191A18;
  color: #FFF;
}

#wpsl-gmap {
  height: 350px !important;
}
@media (min-width: 768px) {
  #wpsl-gmap {
    height: 572px !important;
  }
}

#wpsl-stores {
  height: 175px;
}
@media (min-width: 768px) {
  #wpsl-stores {
    height: 350px;
  }
}

#wpsl-gmap, #wpsl-result-list {
  margin-top: 2rem;
}

#wpsl-wrap #wpsl-result-list li {
  border-bottom: 2px solid rgba(151, 151, 151, 0.7);
}
/*# sourceMappingURL=style.css.map */