{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

<body data-template="base.twig" class="{{ body_class }}" style="background-image: url('{{ theme.link }}/static/images/thrive-background.jpg'); background-repeat: no-repeat; background-size: cover;">

	<div class="header-wrapper">
		{% include 'header.twig' %}
	</div>

	{% block belowheader %}
	{% endblock %}
	
	<div class="content-wrapper">
		{% block content %}
		{% endblock %}
	</div>

	{% include 'footer.twig' %}

	{{ function('wp_footer') }}

	{% include 'external-scripts.twig' %}
</body>
</html>