{% extends 'base.twig' %}

{% block belowheader %}
<div class="below-header-wrapper">
	<div class="header-image-container ms-edge-default-fallback"
		style="background: url('{{ TimberImage( post.background_image ).src }}'),
		url('{{ theme.link }}/static/images/concrete-header-overlay.png'),
		linear-gradient(to right, #23575D, #3E9686, #BDBF42, #BDBF42);">
		<img class="container-sizer" src="{{ theme.link }}/static/images/home-header.jpg">
	
		<div class="header-image-container__inner">
			<h1 class="h1-heading--w shadow-text">One Beneficial<br> List</h1>
			<p class="shadow-text">Links to all of our benefit providers in one place.</p>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
	<section class="main-content alt-main-benefits">
		<div class="provider-container-benefits">
			{% for provider in providers %}
				{% if loop.last %}
					<div class="provider-container__provider">
						<div class="provider-service last"> {# add [.last] #}
							<span class="img-container"><img src="{{ TimberImage( provider.provider_logo ).src }}" alt="{{ TimberImage( provider.provider_logo ).alt }}"></span>
							<span class="align-left">{{ provider.provider_program }}</span>
							<span class="align-left">{{ provider.provider_industry_type }}</span>
							<a class="slim-button" href="{{ provider.provider_link }}">Go to Site</a>
						</div>
					</div> {# /.[__provider] #}
				{% else %}
					<div class="provider-container__provider">
						<div class="provider-service"> {# no [.last] #}
							<span class="img-container"><img src="{{ TimberImage( provider.provider_logo ).src }}" alt="{{ TimberImage( provider.provider_logo ).alt }}"></span>
							<span class="align-left">{{ provider.provider_program }}</span>
							<span class="align-left">{{ provider.provider_industry_type }}</span>
							<a class="slim-button" href="{{ provider.provider_link }}">Go to Site</a>
						</div>
					</div> {# /.[__provider] #}
				{% endif %}
			{% endfor %}
		</div> {# /.[provider-container] #}
	</section> {# /.[main-content] #}
{% endblock %}