{% extends 'base.twig' %}

{% block belowheader %}
<div class="below-header-wrapper">
	<div class="header-image-container ms-edge-default-fallback"
		style="background: url('{{ TimberImage( post.background_image ).src }}'),
		url('{{ theme.link }}/static/images/concrete-header-overlay.png'),
		linear-gradient(to right, #23575D, #3E9686, #BDBF42, #BDBF42);">
		<img class="container-sizer" src="{{ theme.link }}/static/images/home-header.jpg">

		<div class="header-image-container__inner">
			<h1 class="h1-heading--w shadow-text">Contact Us</h1>
			<p class="shadow-text">Ask questions, get answers, make suggestions.</p>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
	<section class="main-content alt-main-contact">
		{{ post.content }}
		
		{# after suggestion form #}
		<h3 class="center-heading">Contact Us.</h3>

		<div class="contact-info">
			<p>P : <a href="tel:785-587-5328">785-587-5328</a></p>
			<p>E : <a href="mailto:Tom.Roesler@spsci.com">Tom.Roesler@spsci.com</a></p>
			<p>A : SPSCI<br>&nbsp; &nbsp; &nbsp;555 Poyntz Avenue<br>&nbsp; &nbsp; &nbsp;Manhattan, KS 66502</p>
		</div>
	</section> {# /.[main-content] #}
{% endblock %}