{% extends 'base.twig' %}

{% block belowheader %}
<div class="below-header-wrapper" id="home-bg">
	<div class="header-image-container">
		<video id="header-video" poster="https://spsthrive.com/wp-content/uploads/2018/09/video-poster-1.jpg" class="bg-video" muted="" loop="" autoplay="false">
			<source src="https://spsthrive.com/wp-content/uploads/2018/09/thrive-bg.mp4" type="video/mp4">
		</video>
		<img class="bg-video app-only" src="https://spsthrive.com/wp-content/uploads/2018/09/video-poster-1.jpg">

		{# variables defined / intialized in [functions.php] (added to global $context array) #}
		<div id="header-text" class="header-image-container__inner fade-in">
			{% if main_header %} <h1 class="h1-heading--w shadow-text">{{ main_header }}</h1> {% endif %}
			{% if sub_header %} <p class="shadow-text">{{ sub_header }}</p> {% endif %}
			<a id="play-video" class="arrow-button-header move-right">Play Video</a>
			{% if sub_btn_text %} <p class="shadow-text join-button">{{ sub_btn_text }}</p> {% endif %}
		</div>

		<div id="video-overlay" class="header-image-container__inner fade-out">
			<button id="close-button" class="box-button close-button">X</button>
			<video class="overlay" controls="controls" preload="none" style="display: inline-block; margin-top: -10px;" poster="https://spsthrive.com/wp-content/uploads/2018/09/video-poster-1.jpg">
				<source src="https://spsthrive.com/wp-content/uploads/2020/05/thrive-header-video.mp4" type="video/mp4">
			</video>
		</div>
	</div>

	<div id="ie10up" class="diamond">
		<img src="{{ theme.link }}/static/images/thrive-flame-icon.svg">
	</div>
</div>
{% endblock %}

{% block content %}
	<section class="main-content">
		<div class="main-content__intro-text">
			<h3>{{ post.intro_header }}</h3>
			<p>{{ post.intro_paragraph }}</p>
			<p>{{ post.intro_paragraph_two }}</p>
		</div>

		<div class="main-content__posts"> {# main container for all the posts #}
			{% set count = 1 %}
			{% for story in stories %}
				{% if count <= 6 %}
					<a class="stagger-boxes" href="{{ TimberPost( story.ID ).link }}">
						<div class="stagger-inner"
						{% if story.header_image %}
							style="background-image: url('{{ TimberImage( story.header_image ).src|resize( 1000,667 )  }}');"
						{% else %}
							style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
						{% endif %} >

							<div {# container for the colored ribbon - the category specific classes control the blending - ribbon controls the layout #}
								{% if story.category == 'Financial' %}
									class="ribbon financial"
								{% elseif story.category == 'Physical' %}
									class="ribbon physical"
								{% elseif story.category == 'Nutritional' %}
									class="ribbon nutritional"
								{% elseif story.category == 'Emotional' %}
									class="ribbon emotional"
								{% elseif story.category == 'Wellbeing' %}
									class="ribbon wellbeing"
								{% endif %} >

								<div class="inner-content">
									<p>{{ story.category }}</p> {# display category of post in ribbon #}
									<h5 class="h5-heading--w">{{ story.title }}</h5>
								</div>
							</div>
							<span class="read-story-button">Read Story</span>
						</div>
					</a>
					{% set count = count + 1 %}
				{% endif %}
			{% endfor %}
		</div> {# /.[__posts] #}

		<div class="ambassador-wrapper" style="background-image: url('{{ theme.link }}/static/images/large-concrete-bg.jpg');">
			<h3>Thrive Ambassadors</h3>
			<div class="ambassador-container">
				{% for ambassador in ambassadors %}
					<a class="ambassador-box" href="mailto:{{ ambassador.email_address }}" style="background-image: url('{{ TimberImage( ambassador.ambassador_image ).src }}');">
						<span class="white-box">
							<h4>{{ ambassador.title }}</h4> {# "Post" title #}
							<p>{{ ambassador.ambassador_title }}</p> {# Ambassador's job title #}
						</span>
					</a>
				{% endfor %}
			</div>
			<a class="box-button" href="/become-an-ambassador/">Become an Ambassador</a>
		</div>
	</section> {# /.[main-content] #}
{% endblock %}