{% block header %}
<div class="top-container">
	<div class="mini-nav">
		<div class="empty-push"></div>
		{{ function('thrive_render_mini_menu') }}
	</div>

	<div class="main-nav">
		<a class="move-logo" href="/"><img src="{{ theme.link }}/static/images/thrive-nav-logo.png" alt="Thrive Logo"></a>
		<nav class="navbar-wrap" role="navigation">
			<div id="menu-toggle">
				<span></span> {# Top Left of X #}
				<span></span> {# Top Right of X #}
				<span></span> {# Center Bar Split (left) #}
				<span></span> {# Center Bar Split (right) #}
				<span></span> {# Bottom Left of X #}
				<span></span> {# Bottom Right of X #}
			</div>
			{{ function('thrive_render_primary_menu') }}
		</nav>
	</div>
</div> {# /.top-container #}
{% endblock %}