{% extends 'base.twig' %}

{% block belowheader %}
<div class="below-header-wrapper">
	<div class="header-image-container ms-edge-financial-fallback"
		style="background: url('{{ TimberImage( post.background_image ).src }}'),
		url('{{ theme.link }}/static/images/concrete-header-overlay.png'),
		linear-gradient(to right, #23575D, #3E9686, #BDBF42, #BDBF42);">
		<img class="container-sizer" src="{{ theme.link }}/static/images/home-header.jpg">
	
		{# variables defined / initialized in [functions.php] (added to global $context array) #}
		<div class="header-image-container__inner alt-styles-financial">
			{% if main_header %} <h1 class="h1-heading--w shadow-text">{{ main_header }}</h1> {% endif %}
			{% if sub_header %} <p class="shadow-text">{{ sub_header }}</p> {% endif %}
			{% if btn_text %} <a class="arrow-button-header move-right" href="{{ btn_link }}">{{ btn_text }}</a> {% endif %}
			{% if sub_btn_text %} <p class="hide-on-mobile shadow-text">{{ sub_btn_text }}</p> {% endif %}
		</div>
	</div>

	<div class="diamond" style="background-image: url('{{ theme.link }}/static/images/small-diamond-shape.svg');">
		<img src="{{ theme.link }}/static/images/thrive-flame-icon.svg">
	</div>
</div>
{% endblock %}

{% block content %}
<section class="main-content">
	<div class="main-content__intro-text">
		{# styling for text format is in Alt styles (this template is an alt of the main) #}
		<h3>{{ post.intro_header }}</h3>
		<div class="intro-match-formatting">{{ post.content }}</div>
	</div>

	<div class="main-content__posts" style="margin-bottom: 8rem;"> {# main container for all the posts #}
		{% set count = 1 %}
		{% for story in stories %}
			{% if count <= 6 %}
				<a class="stagger-boxes" href="{{ TimberPost( story.ID ).link }}">
					<div class="stagger-inner"
					{% if story.header_image %}
						style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
					{% else %}
						style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
					{% endif %} >

						<div {# container for the colored ribbon - the category specific classes control the blending - ribbon controls the layout #}
							{% if story.category == 'Financial' %}
								class="ribbon financial"
							{% elseif story.category == 'Physical' %}
								class="ribbon physical"
							{% elseif story.category == 'Nutritional' %}
								class="ribbon nutritional"
							{% elseif story.category == 'Emotional' %}
								class="ribbon emotional"
							{% endif %} >

							<div class="inner-content">
								<p>{{ story.category }}</p> {# display category of post in ribbon #}
								<h5 class="h5-heading--w">{{ story.title }}</h5>
							</div>
						</div>
						<span class="read-story-button">Read Story</span>
					</div>
				</a>
				{% set count = count + 1 %}
			{% endif %}
		{% endfor %}
	</div> {# /.[__posts] #}
</section> {# /.[main-content] #}
{% endblock %}