{% extends 'base.twig' %}

{% block belowheader %}
<div class="below-header-wrapper">
	<div class="header-image-container ms-edge-nutritional-fallback"
		style="background: url('{{ TimberImage( post.background_image ).src }}'),
		url('{{ theme.link }}/static/images/concrete-header-overlay.png'),
		#969834;">
		<img class="container-sizer" src="{{ theme.link }}/static/images/home-header.jpg">
	
		{# variables defined / intialized in [functions.php] (added to global $context array) #}
		<div class="header-image-container__inner alt-header-container">
			{% if main_header %} <h1 class="h1-heading--w shadow-text">{{ main_header }}</h1> {% endif %}
			{% if sub_header %} <p class="shadow-text">{{ sub_header }}</p> {% endif %}
			{% if btn_text %} <a class="arrow-button-header move-right" href="{{ btn_link }}">{{ btn_text }}</a> {% endif %}
			{% if sub_btn_text %} <p class="shadow-text">{{ sub_btn_text }}</p> {% endif %}
		</div>
	</div>

	<div class="diamond" style="background-image: url('{{ theme.link }}/static/images/small-diamond-shape.svg');">
		<img src="{{ theme.link }}/static/images/thrive-nutritional-icon.svg">
	</div>
</div>
{% endblock %}

{% block content %}
	<section class="main-content">
		<div class="main-content__intro-text">
			<h3>{{ post.intro_header }}</h3>
			<p>{{ post.intro_paragraph }}</p>
			<p>{{ post.intro_paragraph_two }}</p>
		</div>

		<div class="main-content__posts"> {# main container for all the posts #}
			
			{% set count = 1 %}
			{% for story in stories %}
				{% if count <= 6 and story.category == 'Nutritional' %}
					<a class="stagger-boxes" href="{{ TimberPost( story.ID ).link }}">
						<div class="stagger-inner"
							{% if story.header_image %}
								style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
							{% else %}
								style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
							{% endif %} >

							<div class="ribbon nutritional">
								<div class="inner-content">
									<p>{{ story.category }}</p> {# display category of post #}
									<h5 class="h5-heading--w">{{ story.title }}</h5>
								</div>
							</div>
							<span class="read-story-button">Read Story</span>
						</div>
					</a>
					{% set count = count + 1 %}

				{# "Show More" Button clicked (js function handles the click event) #}
				{% elseif count > 6 and count <= 12 and story.category == 'Nutritional' %}
					<a class="show-more-boxes" href="{{ TimberPost( story.ID ).link }}">
						<div class="stagger-inner"
							{% if story.header_image %}
								style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
							{% else %}
								style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
							{% endif %} >
						
							<div class="ribbon nutritional">
								<div class="inner-content">
									<p>{{ story.category }}</p> {# display category of post #}
									<h5 class="h5-heading--w">{{ story.title }}</h5>
								</div>
							</div>
							<span class="read-story-button">Read Story</span>
						</div>
					</a>
					{% set count = count + 1 %}
				{% endif %}
			{% endfor %}
		</div> {# /.[__posts] #}
		
		{# only show button if more than 6 posts are available #}
		{% if count >= 7 %}
			<div class="center-button-alt">
				<button id="load-more-posts" class="box-button">See More</button>
			</div>
		{% endif %}

		{% if options.providers_section == "Show Providers" %}
			<div class="provider-container">
				<h3>Provided Services</h3>
				{% for provider in providers %}
					{% if provider.category == 'Nutritional' %}
						<div class="provider-container__provider">
							<div class="provider-service">
								<span class="img-container"><img src="{{ TimberImage( provider.provider_logo ).src }}" alt="{{ TimberImage( provider.provider_logo ).alt }}"></span>
								<span class="align-left">{{ provider.provider_program }}</span>
								<span class="align-left">{{ provider.provider_industry_type }}</span>
								<a class="slim-button" href="{{ provider.provider_link }}">Go to Site</a>
							</div>
						</div> {# /.[__provider] #}
					{% endif %}
				{% endfor %}
			</div> {# /.[provider-container] #}
		{% else %}
		{% endif %}

		{# Discounts Section (same classes re-used as they are the same layout/style as providers #}
		{% if options.nutritional_discounts_section == "Show Nutritional Discounts" %}
			<div class="provider-container">
				<h3>Discounts</h3>
				{% for discount in discounts %}
					{% if discount.category == 'Nutritional' %}
						<div class="provider-container__provider">
							<div class="provider-service">
								<span class="text-container">{{ discount.discount_type }}</span>
								<span class="align-left">{{ discount.discount_offer }}</span>
								<span class="align-left">{{ discount.expiration_date|date('F j, Y') }}</span>
								<a class="slim-button" href="{{ discount.discount_link }}">Go to Site</a>
							</div>
						</div> {# /.[__provider] #}
					{% endif %}
				{% endfor %}
			</div> {# /.[provider-container] #}
		{% else %}
			<div class="no-providers-discounts"></div>
		{% endif %} {# /[options.select_layout]/ #}

	</section> {# /.[main-content] #}
{% endblock %}