{% extends 'base.twig' %}

{% block belowheader %}
<div class="below-header-wrapper">
	<div class="header-image-container ms-edge-default-fallback"
		style="background: url('{{ TimberImage( post.page_header_image ).src }}'),
		url('{{ theme.link }}/static/images/concrete-header-overlay.png'),
		linear-gradient(to right, #23575D, #3E9686, #BDBF42, #BDBF42);">
		<img class="container-sizer" src="{{ theme.link }}/static/images/home-header.jpg">
	
		<div class="header-image-container__inner">
			<h1 class="h1-heading--w shadow-text">{{ post.title }}</h1>
			<p class="shadow-text">{{ post.get_field('sub_heading') }}</p>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<section class="main-content alt-main-benefits">
	<div class="story-wrapper alt-default-template" id="post-{{ post.ID }}" style="margin-bottom: 10rem;">
		{{ post.content }}
	</div>
</section> {# /.[main-content] #}
{% endblock %}