// sections pull most styles from [front-page.scss] and these are slight changes to be applied to specific pages

// for pages Physical and Emotional
.alt-header-container {
	// shrink button on mobile to fit
	.arrow-button-header {
		padding: 0.3rem 2.8rem 0.3rem 0.7rem;

		@include bp(sm) {
			padding: 0.7rem 4.8rem 0.7rem 2rem;
		}
	}
}

.alt-styles-financial {
	p {
		&:last-of-type {
			margin-top: 1rem;
		}
	}

	// shrink button on mobile to fit
	.arrow-button-header {
		padding: 0.3rem 2.8rem 0.3rem 1rem;

		@include bp(sm) {
			margin-top: 5rem;
			padding: 0.7rem 4.8rem 0.7rem 2rem;
		}
	}

	.hide-on-mobile {
		display: none;

		@include bp(sm) {
			display: block;
		}
	}

	.hide-on-desktop {
		display: block;
		margin-top: 0.5rem;
		
		@include bp(sm) {
			display: none;
		}
	}
}

.alt-default-template {

	// ordered lists for the ambassadors page only
	.ambassador-lists {
		list-style-type: disc;
	}
}

// Main Pages Template Styles (Takes some elements from Home Page and From Stories Posts)
.intro-match-formatting {
	// for headings that add space below them and the paragraph they go with. (top margin left for spacing)
	h5, h6 {
		margin-bottom: 0;
	}

	a {
		color: $teal;
		font-size: 1.125rem; // bumped up to same size as paragraph font size
		text-decoration: underline;
	}

	// make list color same as text
	ol, ul {
		li {
			color: $light-black;
			font-family: $font-body;
			font-size: 1.125rem;
		}
	}

	.p1 iframe, p iframe, iframe {
		width: 285px !important;
		height: 150px !important;

		@include bp(sm) {
			width: 500px !important;
			height: 281px !important;
		}
	}
}