.archive-title {
	text-align: center;
	border-bottom: 1px solid $black;
	margin-bottom: 2rem;

	h1 {
		margin-bottom: 0;
	}
}

// Category Filtering Styles //
.hide-filter-desktop {
	display: block;
	text-align: center;
	@include bp(sm) { display: none; }
}

.filter-head {
	display: block;
	max-width: 17rem;

	@include bp(xs) {
		max-width: 52rem;
	}

	@include bp(sm) {
		display: flex;
		justify-content: space-between;
	}
	margin: 0 auto 3rem;
	
	.switch-category-all,
	.switch-category-financial,
	.switch-category-physical,
	.switch-category-emotional,
	.switch-category-nutritional,
	.switch-category-wellbeing {
		width: 8rem;
		outline: none;
		margin: 0;
		border: none;
		background: transparent;

		&:hover {
			cursor: pointer;
			text-decoration: none;
			border: 1px solid $teal;
		}
	}

	// javascript switching selectors 
	.selected-category {
		border: 1px solid $teal;
	}

	.hide-filter-mobile {
		display: none;
		@include bp(sm) { display: initial; }
	}
}