// Large header background - Expands 1320px
.header-image-container,
.ms-edge-financial-fallback,
.ms-edge-emotional-fallback,
.ms-edge-physical-fallback,
.ms-edge-nutritional-fallback,
.ms-edge-default-fallback {
	margin-top: -2rem;
	max-width: 100%;
	position: relative; // used to change stacking order

	// For templates without a video background
	@supports (background-blend-mode: multiply) {
		background-blend-mode: multiply;
	}

	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center;
	
	@include bp(md) {
		margin-top: -6rem;
	}

	.bg-video {
		max-width: 100%;
	}

	.app-only {
		display: none;
	}

	// For Templates without a video background
	.container-sizer {
		visibility: hidden;
		// element used to allow the image to resize properly (resizes the background styles with it)
	}

	&__inner {
		position: absolute;
		margin: 0 auto;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		text-align: center;
		z-index: 15;

		h1 {
			margin-bottom: 0;
		}
		
		p {
			margin-top: 0;
			color: $white;
			font-weight: 600; // semi-bold
			padding: 0 0.5rem;
	
			@include bp(md) {
				padding: initial;
			}
		}

		.shadow-text a {
			color: $white;
			border-bottom: 2px solid $white; // text decoration was too hard to see

			&:hover { color: $light-black; }
		}

		// Keep text from being too long, allow video to flow by not constraining entire header to 60rem
		h1, p, a {
			max-width: 60rem;
			margin: 0 auto;
		}

		.arrow-button-header {
			margin-bottom: 0;

			// small amount of margin on ipad (keeps diamond off cta)
			@include bp(sm) {
				margin-bottom: 1.5rem;
			}

			@include bp(md) {
				margin-bottom: 0;
			}
		}

		.move-right {
			margin-left: 2.2rem;
			margin-top: 0;
	
			@include bp(sm) {
				margin-top: 3rem;
			}
		}

		.overlay {
			max-width: 100%;
		}

		.close-button {
			position: absolute;
			top: -10px; // move-button up with the negative margin
			right: 0;
			width: 3rem;
			z-index: 20;
			padding-top: 0.2rem;
			padding-bottom: 0.2rem;
			border: none;

			&:hover { cursor: pointer;}
		}

		.join-button {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}

	// Show the video / hide text + bg video
	.fade-in {
		visibility: visible;
		opacity: 1;
		transition: 1s ease-out;
	}

	// hide the video / show text + bg video
	.fade-out {
		visibility: hidden;
		opacity: 0;
		transition: 0.6s ease-in;
	}
}

// Image fallbacks since Microsoft Edge does not support image blending //

// Default Fallback (all pages that use the standard Thrive heading) - !important used to override inline styles
.ms-edge-default-fallback {
	@supports not (background-blend-mode: multiply) {
		background: url('static/images/video-poster.jpg') !important; // video poster used as it's the same image needed
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		// all other styles remain inherited
	}
}
// Financial Page
.ms-edge-financial-fallback {
	@supports not (background-blend-mode: multiply) {
		background: url('static/images/financial-edge-fallback.jpg') !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center;
		// all other styles remain inherited
	}
}

// Physical Page
.ms-edge-physical-fallback {
	@supports not (background-blend-mode: multiply) {
		background: url('static/images/physical-edge-fallback.jpg') !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center;
		// all other styles remain inherited
	}
}

// Emotional Page
.ms-edge-emotional-fallback {
	@supports not (background-blend-mode: multiply) {
		background: url('static/images/emotional-edge-fallback.jpg') !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center;
		// all other styles remain inherited
	}
}

// Nutritional Page
.ms-edge-nutritional-fallback {
	@supports not (background-blend-mode: multiply) {
		background: url('static/images/nutritional-edge-fallback.jpg') !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center;
		// all other styles remain inherited
	}
}

.diamond {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: -5rem;
	z-index: 20;
	background-image: url('static/images/small-diamond-shape.svg');
	background-position: center;
	background-size: contain;
	padding: 1rem;
	background-repeat: no-repeat;
	text-align: center;

	@include bp(xs) {
		bottom: -2.6rem;
	}

	@include bp(sm) {
		max-width: 123px;
		padding: 1.5rem;
		bottom: -3.7rem;
	}

	img {
		position: relative;
		z-index: 21;
		max-width: 35px;

		@include bp(sm) {
			max-width: 60px;
		}
	}
}

// ie10+ support / Diamond blocks play button on IE
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.below-header-wrapper {
		#ie10up {
			display: none !important;
		}

		#ie10up img {
			display: none !important;
		}
	}
}