// footer styles
.footer-wrapper {
	max-width: 100%;

	// IE 10+
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		background: url('static/images/ms-edge-header-footer-bg.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	// All browsers
	@supports (background-blend-mode: multiply) {
		background: url('static/images/concrete-background.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-color: rgba($smoke, 0.8);
		background-blend-mode: multiply;
	}

	// Edge only
	@supports not (background-blend-mode: multiply) {
		background: url('static/images/ms-edge-header-footer-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	padding: 0 0.8rem;
}

.footer-main-container {
	max-width: 75rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@include bp(sm) {
		flex-direction: row;
		// justify-content: left;
		text-align: left;
	}

	.vertical-bar {
		display: none;

		@include bp(md) {
			display: block;
			width: 2px;
			background-color: rgba($white, 0.5);
			height: 8rem;
		}
	}

	.link-wrapper {
		display: flex;
		max-width: 45rem;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		flex-wrap: wrap;

		@include bp(xs) {
			flex-direction: row;
			justify-content: space-around;
		}
	}

	.footer-contact {

		a {
			color: $white;
			font-size: 1.125rem;
			font-weight: bold;
		}

		.blockify {
			display: block;
			margin-bottom: 0.7rem;

			&:first-of-type {
				margin-top: 1.6rem;
			}
		}

		span:first-of-type {
			margin-right: 1.3rem;
		}
	}

	.footer-link-menu {

		ul {
			list-style-type: none;
			padding-left: 0;
		}

		li {
			margin-bottom: 10px;

			&:first-of-type {
				margin-top: 2.5rem;
			}
		}

		a {
			color: $white;
			font-size: 1.125rem;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}