// Starts after the 2 diamond class divs
.main-content {
	max-width: 100%;
	margin: 0 auto;

	&__intro-text {
		max-width: 50rem;
		margin: 0 auto 4rem;
		padding: 0 1rem;

		h3 {
			padding-top: 2rem;
			text-align: center;
			margin-bottom: 0;
		}
	}

	&__posts {
		max-width: 75rem;
		margin: 0 auto 2rem;
		display: flex;
		justify-content: center;
		padding: 0 1rem;
		flex-wrap: wrap;

		// switch perspective (2x1) rows
		@include bp(sm) {			
			padding: 0;
		}

		// flex content to (3x1) rows
		@include bp(md) {
			justify-content: flex-start;
			align-items: flex-start;
		}

		// Toggle Control styles for the "Show More" button
		.show-more-boxes {
			opacity: 0;
			visibility: hidden;
			position: absolute; // remove from DOM

			&.stagger-boxes {
				position: relative;
				visibility: visible;
				opacity: 1;
				transition: visibility 1s, opacity 1s ease-out; // smooth transition to this class
			}
		}

		// repeat staggered boxes
		.stagger-boxes {
			padding: 0.5rem;
			max-height: 22.5rem; // prevent Chrome from adding its own height
			margin-bottom: 1rem;

			.stagger-inner {
				min-height: 22.5rem; // 360px
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				transition: 0.3s ease-out;
				padding-top: 1rem; // used to move [.ribbon] down
				position: relative;

				&:hover {
					transition: 0.3s ease-in;
					opacity: 0.8;
				}

				// Prevents container height from growing if ribbons have a lot of text (ribbon still grows / container does not / same height)
				.read-story-button {
					position: absolute;
					bottom: 1rem;
					left: 0;
				}

				// Ribbon size for story snippets
				.ribbon {
					max-width: 16.2rem;
					position: relative;
					// blend mode applied on the category specific colors in [_globals.scss]

					.inner-content { // needed to exclude child elements from blend mode
						position: relative;
						padding-left: 0.7rem;

						p {
							margin-top: 0;
							padding-top: 0.5rem;
							color: $white;
							margin-bottom: 0.1rem;
						}
	
						h5 {
							margin-top: 0;
							padding-bottom: 0.5rem;
						}
					}
				}
			}

			&:nth-child(6n+1) {
				width: 20rem;
				@include bp(375px) { width: 23rem; }
				@include bp(md) { width: 25%; }
			}

			&:nth-child(6n+2) {
				width: 20rem;
				@include bp(375px) { width: 23rem; }
				@include bp(md) { width: 25%; }
			}

			&:nth-child(6n+3) {
				width: 20rem;
				@include bp(375px) { width: 23rem; }
				@include bp(md) { width: 50%; }
			}

			&:nth-child(6n+4) {
				width: 20rem;
				@include bp(375px) { width: 23rem; }
				@include bp(md) { width: calc(100%/3); }
			}

			&:nth-child(6n+5) {
				width: 20rem;
				@include bp(375px) { width: 23rem; }
				@include bp(md) { width: calc(100%/3); }
			}

			&:nth-child(6n+6) {
				width: 20rem;
				@include bp(375px) { width: 23rem; }
				@include bp(md) { width: calc(100%/3); }
			}
		}
	} // end [__posts]

	.ambassador-wrapper {
		width: 100vw;
		margin: 4.5rem auto 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 0.5rem;
		position: relative;
		left: 50%;
		margin-left: -50vw;
		text-align: center;

		h3 {
			text-align: center;
			letter-spacing: 1px; // adjust kerning
			margin-bottom: 1.5rem;

			@include bp(sm) {
				margin-bottom: 5.5rem;
			}
		}

		a {
			margin-bottom: 2rem;

			@include bp(sm) {
				margin-bottom: 5rem;
			}

			@include bp(md) {
				margin-bottom: 12rem;
			}
		}

		.ambassador-container {
			max-width: 75rem;
			margin: 0 auto 1.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			@include bp(sm) {
				flex-direction: row;
				align-items: initial;
				flex-wrap: wrap;
				justify-content: space-around;
				margin: 0 auto 5rem;
			}

			.ambassador-box {
				position: relative;
				box-shadow: 0 15px 15px -8px rgba($black, 0.7);
				margin-bottom: 1.5rem;
				background-repeat: no-repeat; // keeps image from clipping edges
				background-size: cover;
				background-position: center;

				.white-box {
					display: inline-block;
					position: relative;
					margin: 97% auto 0; // move box to bottom of container (relative to container)
					width: 19.1rem;
					text-align: center;
					background-color: $white;
					//clip-path: polygon(0 100%, 0 15%, 50% 0, 100% 15%, 100% 100%);
					clip-path: polygon(0 100%, 0 15%, 50% 0, 101% 15%, 101% 100%);

					@include bp(sm) {
						width: 24rem;
					}

					h4 {
						margin-bottom: 0;
					}

					p {
						margin-top: 0;
					}
				}
			} // end [ambassador-box]
		} // end [.ambassador-container]
	} // end [.ambassador-wrapper]
}