/*
 * All Gravity Forms Styles
*/

// prevent Gforms from modifying the submit button
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
	line-height: 1.5 !important;
}

// Suggest a Gym Form
.gfs-main-container {
	display: flex;
	padding-bottom: 0.5rem;
	max-width: 100%;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// flex-wrap: wrap; // no flex wrap - causes it to break
	background-color: $space-grey;

	@include bp(md) {
		flex-direction: row;
		align-items: initial;
		justify-content: space-between;
	}

	h4 {
		text-align: center;
		margin-bottom: 0;

		@include bp(md) {
			padding-left: 1.5rem;
			margin-top: 1.5rem;
			margin-bottom: 0;
			margin-right: 1.5rem;
		}
	}

	#gform_wrapper_1 {
		margin: 0 !important;
	
		ul, li {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	
		ul {
			-webkit-margin-before: 0 !important;
			-webkit-margin-after: 0 !important;
			-webkit-padding-start: 0 !important;
		}
	}

	.gform_heading {
		display: none;
	}

	#gform_1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	
		@include bp(md) {
			flex-direction: row;
		}
	}
	
	#gform_fields_1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		max-width: 75rem;
	
		@include bp(md) {
			flex-direction: row;
			justify-content: space-between;
			align-items: initial;
		}
	}
	
	.ginput_container input {
		width: 10rem !important;
		border: 0;
		border-radius: 4px;
	}
	
	.ginput_container {
		margin-top: 0 !important;
	}
	
	.gfield_label {
		display: none !important;
	}
	
	.gform_footer {
		margin-top: 0.3rem !important;
		text-align: center;
	}

	#gform_submit_button_1 {
		padding: 5px 1.6rem !important;
		background: none;
		border: 1px solid $light-black;
		color: $light-black;
		transition: 0.3s ease-out;
		width: 12rem;

		@include bp(md) {
			width: auto;
		}
	
		&:hover {
			transition: 0.3s ease-out;
			background-color: $light-black;
			color: $white;
			cursor: pointer;
		}
	}
	
	#input_1_1 {
		@include bp(md) {
			width: 15rem !important;
		}
	}
}

@include mq($until: $laptop) {
	#field_1_1 div input,
	#field_1_3 div input,
	#field_1_4 div input,
	#field_1_5 div input {
		width: 20rem !important;
	}
}

/*********************************/
// Contact Us Page Forms (x2) - Say Hello Contact Form
#gform_wrapper_2 {
	max-width: 100%; // 50rem -> 800px

	#input_2_1,
	#input_2_2,
	#input_2_3,
	#input_2_4 {
		width: 100%;
		border: 1px solid $teal;
		background-color: transparent;
		color: $teal;

		&::placeholder {
			color: $teal;
			opacity: 1 !important; // darken super light placeholder text
		}
	}

	// textarea (padding is to move text closer to the edge to align with other placeholders)
	#input_2_4 {
		margin-top: 0.8rem;
		padding: 6px 4px;
	}

	.gform_footer {
		margin-top: 0.7rem;
		margin-bottom: 5.5rem;
		padding-top: 0;

		input[type=submit] {
			@extend .box-button;
			border: none;
			transition: 0.3s ease-out;
			padding-top: 0.3rem;
			padding-bottom: 0.3rem;
			width: 10rem;

			&:hover {
				cursor: pointer;
				transition: 0.3s ease-out;
			}

			@include bp(md) {
				padding-top: 0.7rem;
				padding-bottom: 0.7rem;
				width: 15rem;
			}
		}
	}
}

// Make a Suggestion Form
#gform_wrapper_3 {

	#input_3_1 {
		padding: 6px 4px;
		color: $teal;
		background-color: transparent;
		border: 1px solid $teal;

		&::placeholder {
			opacity: 1 !important;
		}
	}

	.gform_footer {
		margin-top: 0.7rem;
		margin-bottom: 5.5rem;
		padding-top: 0;

		input[type=submit] {
			@extend .box-button;
			border: none;
			transition: 0.3s ease-out;
			padding-top: 0.3rem;
			padding-bottom: 0.3rem;
			width: 10rem;

			&:hover {
				cursor: pointer;
				transition: 0.3s ease-out;
			}

			@include bp(md) {
				padding-top: 0.7rem;
				padding-bottom: 0.7rem;
				width: 15rem;
			}
		}
	}
}

// Become an Ambassador Form
#gform_wrapper_4 {

	li {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		color: $teal;
		font-size: 1rem;
		font-weight: normal;

		&::placeholder {
			opacity: 1 !important;
			font-size: 1rem;
			font-weight: normal;
		}
	}

	#field_4_9,
	#field_4_12 {
		.gfield_label {
			font-weight: normal;
		}
	}

	#field_4_13 {
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;

		ul li {
			margin-top: 3px;
			margin-bottom: 3px;
		}
	}

	#field_4_14 {
		border-top: 1px solid $teal;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	#choice_4_14_1 {
		margin-top: -4px;
	}

	.gform_footer {
		margin-top: 0.7rem;
		margin-bottom: 5.5rem;
		padding-top: 0;

		input[type=submit] {
			@extend .box-button;
			border: none;
			transition: 0.3s ease-out;
			padding-top: 0.3rem;
			padding-bottom: 0.3rem;
			width: 10rem;

			&:hover {
				cursor: pointer;
				transition: 0.3s ease-out;
			}

			@include bp(md) {
				padding-top: 0.7rem;
				padding-bottom: 0.7rem;
				width: 15rem;
			}
		}
	}
}

#gform_wrapper_5 {

	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		color: $teal;
		font-size: 1rem;
		font-weight: normal;

		&::placeholder {
			opacity: 1 !important;
			font-size: 1rem;
			font-weight: normal;
		}
	}

	.gfield_checkbox {
		li > input[type=checkbox] {
			margin-top: 0;
			margin-right: 5px;

		}
	}

	#field_5_6 {
		margin-top: 2.5rem;
	}

	#field_5_9 {
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}

	.gform_footer {
		margin-top: 0.7rem;
		margin-bottom: 5.5rem;
		padding-top: 0;

		input[type=submit] {
			@extend .box-button;
			border: none;
			transition: 0.3s ease-out;
			padding-top: 0.3rem;
			padding-bottom: 0.3rem;
			width: 10rem;

			&:hover {
				cursor: pointer;
				transition: 0.3s ease-out;
			}

			@include bp(md) {
				padding-top: 0.7rem;
				padding-bottom: 0.7rem;
				width: 15rem;
			}
		}
	}
}