* {
	box-sizing: border-box;
}

html, body {
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	overflow-x: hidden;
}

// standard transition for all links
a {
	font-family: $font-body;
	text-decoration: none;
	transition: 0.3s ease-out;

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;
	font-feature-settings: "lnum" 1;

	&:hover { transition: 0.3s ease-out; }
}

img {
	max-width: 100%;
	height: auto;
}

// hide utility
.hide-this {
	display: none;
}

/***************************
	Wrappers & Ribbon Colors 
*/

// Navigation Area Wrapper
.header-wrapper {
	max-width: 100%;
	margin: 0 auto;
	clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%); // add angle to [.top-container] (parent nav container)
	padding-bottom: 1.5rem;

	@include bp(md) {
		clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%); // increase angle sharpness on laptop+
		padding-bottom: 8rem;
	}

	// IE 10+
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		background: url('static/images/ms-edge-header-footer-bg.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	// full width background image / color / overlay
	@supports (background-blend-mode: multiply) {
		background: url('static/images/concrete-background.png');
		background-repeat: no-repeat;
		background-color: rgba($smoke, 0.8);
		background-blend-mode: multiply;
		background-position: center;
		background-size: cover;
	}

	// fallback for Edge
	@supports not (background-blend-mode: multiply) {
		background: url('static/images/ms-edge-header-footer-bg.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

// Header Image Area Wrapper
.below-header-wrapper, #home-bg {
	max-width: 82.5rem;
	margin: 0 auto;
	position: relative;

	// Check for blend mode support (else, don't render)
	@supports (mix-blend-mode: overlay) {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 15;
			background-size: cover; // allows diamond cutout to resize properly
			background-repeat: no-repeat; // prevent it from repeating as the size changes
			background-image: url('static/images/diamond-cutout-header.png');
			mix-blend-mode: overlay;
		}
	}
}

// used to change the diamond overlay on the homepage only (clips outside of video area)
#home-bg:before {
	background-size: contain;
}

// Everything else below the large header image
.content-wrapper {
	max-width: 75rem; // 1200px
	margin: 3rem auto 0;

	@include bp(sm) {
		margin: 4rem auto 0;
	}
}

// Colored ribbons on story snippets
.financial {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		mix-blend-mode: multiply;
		background-color: $gold;
	}
}

.nutritional {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		mix-blend-mode: multiply;
		background-color: $light-gold;
	}
}

.physical {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		mix-blend-mode: multiply;
		background-color: $teal;
	}
}

.emotional {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		mix-blend-mode: multiply;
		background-color: $dark-teal;
	}
}

.wellbeing {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		mix-blend-mode: multiply;
		background-color: $aquamarine;
	}
}