// primary nav styles (before header)
.top-container {
	max-width: 75rem; // 1200px
	margin: 0 auto;
}

// hide the mobile menu toggle on desktop
#menu-toggle {
	display: none;
}

// desktop styles (full menu)
@include mq($from: $laptop) {

	// show the mini menu and style it
	.top-container {
		padding-left: 0.5rem;
		padding-right: 0.5rem;

		// [benefits] & [contact us] links at top
		.mini-nav {
			display: flex;
			max-width: 100%;
			margin: 0 auto;
			justify-content: space-between;
	
			ul {
				list-style: none;
				max-width: 45rem;
			}

			// Select all menu items dynamically ( #menu-item-NUM )
			li[id*='menu-item-']:after {
				content: '';
				color: $white;
				margin: 0 1rem 0 1.2rem;
				background-color: rgba($white, 0.5);
				width: 1px;
				padding: 0.2rem 0 0.3rem 0.1rem;
			}

			// the last menu item does not get a divider
			li[id*='menu-item-']:last-of-type:after {
				display: none;
			}
	
			li {
				display: inline-block;
			}
	
			a {
				font-size: 1.125rem;
				color: $white;
	
				&:hover {
					color: $teal;
					text-decoration-color: $teal;
				}
			}
		} // end .mini-nav
	}

	.main-nav {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;

		// hide the last 4 items on desktop (from mini-menu)
		#menu-item-30, #menu-item-31, #menu-item-514, #menu-item-688 {
			display: none;
		}

		#primary-menu {
			display: flex;
			justify-content: space-between;
			width: 55rem;
			max-width: 100%;
		}

		ul { // id = #primary-menu
			list-style: none;

			.current-menu-item > a {
				&:after {
					width: 100%;
					left: 0;
					background: $teal;
				}
			}

			a {
				font-family: $font-head;
				font-weight: bold;
				font-size: 1.25rem;
				color: $white;
				text-transform: uppercase;
				letter-spacing: 3px; // adjust kerning
				position: relative;

				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 3px;
					margin-top: 3px;
					right: 0;
					background: $teal;
					transition: width .3s ease;
				}

				&:hover:after {
					width: 100%;
					left: 0;
					background: $teal;
				}
			}
		} // end of <ul> #primary-menu
	} // end of .main-nav
}

// Mobile Menu
/****************************************************************************/

// mobile and tablet styles (hamburger menu)
@include mq($until: $laptop) {

	// put the logo center on mobile
	.main-nav {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 0 auto;

		// show the last 2 items on mobile (from mini-menu) [benefits] & [contact us]
		#menu-item-30, #menu-item-31, #menu-item-480 {
			display: block;
		}
	}

	.mini-nav {
		display: none;
	}

	.move-logo {
		max-width: 100%;
		text-align: center;
		margin-top: 0.5rem;

		img {
			width: 7rem;
			height: 5rem;
		}
	}

	.navbar-wrap {
		width: 100%;
		position: relative;
	}

	#menu-toggle {
		display: block;
		position: relative;
		width: 2.5rem;
		height: 1.5rem;
		margin: 0.5rem 1.8rem 1.5rem 1.8rem;
		padding-bottom: 10px;
		transform: rotate(0deg);
		transition: 0.3s ease-in-out;

		&:hover {
			cursor: pointer;
		}

		span {
			display: block;
			position: absolute;
			height: 4px;
			width: 50%;
			background-color: #b6b6b6;
			opacity: 1;
			transform: rotate(0deg);
			transition: 0.3s ease-in-out;

			/** refer to [header.twig] for comments on which "piece" of the bar each span is **/

			// right side halves - 3 bars are broken into 2 pieces each
			&:nth-child(even) {
				left: 50%;
				border-radius: 0 9px 9px 0;
			}

			// left side halves - 3 bars are broken into 2 pieces each
			&:nth-child(odd) {
				left: 0;
				border-radius: 9px 0 0 9px;
			}

			/** Spacing for the bars **/

			// first bar (2 pieces)
			&:nth-child(1), &:nth-child(2) {
				top: 0;
			}

			// second bar (2 pieces)
			&:nth-child(3), &:nth-child(4) {
				top: 11px;
			}

			// third bar (2 pieces)
			&:nth-child(5), &:nth-child(6) {
				top: 22px; // container height is 24px (1.5rem)
			}
		}

		/** X tranforms - middle bar splits left and right - then fades out **/

		// top left and bottom right pieces
		&.x-switch span:nth-child(1), &.x-switch span:nth-child(6) {
			transform: rotate(45deg);
		}

		// top right and bottom left pieces
		&.x-switch span:nth-child(2), &.x-switch span:nth-child(5) {
			transform: rotate(-45deg);
		}

		// top left
		&.x-switch span:nth-child(1) {
			top: 6px;
			left: 3px;
		}

		// top right
		&.x-switch span:nth-child(2) {
			top: 6px;
			left: calc(50% - 3px);
		}

		// middle left
		&.x-switch span:nth-child(3) {
			left: -50%;
			opacity: 0;
		}

		// middle right
		&.x-switch span:nth-child(4) {
			left: 100%;
			opacity: 0;
		}

		// bottom left
		&.x-switch span:nth-child(5) {
			top: 20px;
			left: 3px;
		}

		// bottom right;
		&.x-switch span:nth-child(6) {
			top: 20px;
			left: calc(50% - 3px);
		}
	}

	#primary-menu {
		width: 100%;
		list-style: none;
		display: block;
		position: absolute;
		height: 0;
		max-width: 20rem;

		&.menu-open {
			position: initial;
			height: 100%;
		}

		li {
			display: block;
		}

		a {
			font-size: 1.125rem;
			display: block;
			padding: .5rem 0;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
}