.gym-header {
	margin: 4rem auto 1rem;
	padding: 0 2rem;
	max-width: 32rem;
	text-align: center;

	@include bp(sm) {
		margin: 4rem auto 2rem;
		padding: 0;
	}
}

.gym-finder {
	max-width: 100%;
	margin: 0 auto 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
	flex-wrap: wrap;

	@include bp(sm) {
		flex-direction: row;
		align-items: initial;
		justify-content: space-between;
		padding: 0;
	}

	&--has-insurance, &--no-insurance {
		background-color: $teal;
		max-width: 36rem;
		margin: 0 auto;
		padding: 1.5rem 1.5rem 3rem;
		text-align: center;

		h3 {
			max-width: 26.6rem; // 81% of max width (or 425px)
			color: $white;
			margin: 0 auto;
		}

		p {
			color: $white;
			text-align: left;
			min-height: 6rem;
		}

		.arrow-button-header {
			margin-top: 0;
			margin-left: 2rem;

			&:hover {
				background-color: $dark-teal;
			}
		}

	}

	&--has-insurance {
		margin-bottom: 2.5rem;
		@include bp(1158px) { margin-bottom: 0; }
	}
}