// For the 'providers' custom post type (on each page)
.provider-container, .provider-container-benefits {
	max-width: 100%;
	margin: 0 auto 1rem;
	padding: 0.5rem;
	
	@include bp(md) {
		margin: 1rem auto 10rem;
		padding: 0;
	}

	h3 {
		text-align: center;
		margin-bottom: 1.2rem;
	}

	&__provider {
		max-width: 50rem;
		margin: 0 auto;

		.provider-service, .last {
			display: flex;
			max-width: 50rem;
			margin: 0 auto;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			padding: 1rem 0;
			border-top: 1px solid $light-black;
			text-align: center;

			@include bp(sm) {
				flex-direction: row;
				justify-content: space-between;
				text-align: left;
			}

			.img-container {
				width: 11.5rem; // large width for logos to keep all items aligned
			}

			.text-container {
				width: 12rem;
				font-weight: 600;
			}

			.align-left {
				width: 9.5rem;
				text-align: center;

				@include bp(sm) {
					text-align: left;
				}
			}

			span:not(.img-container), img, a {
				margin: 1rem 0;

				@include bp(sm) {
					margin: 0;
				}
			}
		}

		.last {
			border-bottom: 1px solid $light-black;
		}
	} // end [__provider]
} // end [provider-container]

// if client turns of both providers and discounts for a page, prevent phone in footer from coming up into the page body
.no-providers-discounts {
	display: block;
	min-height: 1rem;
	margin-bottom: 6rem;
	padding: 0;
}