// paragraph text styles and size
p, span {
	font-size: 1.125rem; // 18px
	font-family: $font-body;
	font-weight: normal;
	color: $light-black;

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;
	font-feature-settings: "lnum" 1;
}

// Shadow class for the header section
.shadow-text {
	text-shadow: 0 0 4px rgba($black, 0.5);
}

// heading global styles
.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
	font-family: $font-head;
	font-weight: bold;
	color: $light-black;
	line-height: 1.2;
	text-transform: uppercase;

	&--w {
		color: $white;
		font-weight: bold;
	}
}

// h1 is the "hero" text
h1, .h1-heading {
	font-size: 1.5rem; // mobile size
	letter-spacing: 1px;

	@include bp(xs) {
		font-size: 3rem;
	}

	@include bp(sm) {
		font-size: 3.75rem; // 60px
		letter-spacing: 10px; // adjust kerning
	}
}

h2, .h2-heading {
	font-size: 3rem; // 48px
}

h3, .h3-heading {
	font-size: 1.6rem;

	@include bp(sm) {
		font-size: 2.25rem; // 36px
	}
}

h4, .h4-heading {
	font-size: 1.75rem; // 28px
}

h5, .h5-heading {
	font-size: 1.5rem; // 24px
}

h6, .h6-heading {
	font-size: 1.25rem; // 20px
}

label {
	font-size: 1.125rem;
	font-weight: 600;
}