// WP Store Locator [wpsl] Plugin adjustments
#wpsl-wrap {
	padding: 0.4rem;
}

.wpsl-search {
	margin-bottom: 0;
	padding: 0;
}

#wpsl-search-wrap {
	max-width: 75rem;
	margin: 0 auto;
	background-color: $space-grey;

	form {
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		flex-wrap: wrap;

		@include bp(sm) {
			flex-direction: row;
			align-items: initial;
			justify-content: space-between;
		}

		div {
			margin-right: 0;
		}
	}
}

.wpsl-input {
	margin-bottom: 0;
}

#wpsl-search-wrap div:not(#wpsl-results) label {
	width: 8rem;
	margin-top: 0.2rem;
}

// set the result label to a smaller width than the other labels
#wpsl-search-wrap div#wpsl-results label {
	width: 5rem !important;
	margin-top: 0.2rem;
}

#wpsl-search-btn, #wpsl-search-wrap input[type="submit"] {
	border: 1px solid $light-black;
	border-radius: 0;
	background-color: $space-grey;
	background-image: none;
	color: $light-black;
	padding: 0.4rem 1.6rem;
	transition: 0.3s ease-out;

	&:hover {
		transition: 0.3s ease-out;
		background-color: $light-black;
		color: $white;
	}
}

// !important required to override styles
#wpsl-gmap {
	height: 350px !important;

	@include bp(sm) {
		height: 572px !important;
	}
}

#wpsl-stores {
	height: 175px;

	@include bp(sm) {
		height: 350px;
	}
}

// move map and result list down from search bar
#wpsl-gmap, #wpsl-result-list {
	margin-top: 2rem;
}

#wpsl-wrap #wpsl-result-list li {
	border-bottom: 2px solid rgba($wpsl-grey, 0.7);
}